<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>酒店之外，就住小猪</title>
    <link rel="stylesheet" type="text/css" href="static/css/indexindex.css.css">
</head>
<body>
<div id="vip-protocol">
    <div id="container">
        <h3>住宿旅行意外险</h3>
        <p><strong>“小猪“与中国平安财产保险股份有限公司江苏分公司合作，在您通过小猪入住民宿期间，为您免费提供“租客意外险”保障计划，详情如下：</strong></p>
        <p>1、保障计划内的平安意外伤害保险、平安附加意外伤害医疗保险、平安附加意外伤害住院津贴保险， 仅对您在“小猪”租住房屋内发生的保险事故承担保险责任；</p>
        <p>2、保险会在入住日14:00点自动生效，若您为入住当日14:00后下单，下单后若保险投保成功则立即生效（截止时间24:00）， 以订单内填写的入住人的实际入住时间为准；</p>
        <p>3、保险有效截止日期为离店日12:00，若您提前离店，保险则立即截止；</p>
        <p>4、您可以通过订单详情页随时查看保险状态；</p>
        <p>5、 如果您需要出险理赔或者对保险有任何问题，可拨打平安24小时客服理赔报案电话95511；</p>
        <p>6、本产品内的被保险人因遭受意外伤害事故并在二级及二级以上公立医院进行治疗， 本产品就其事故发生之日起一百八十天内实际支出的合理医疗费用超过人民币0元部分按100%的比例给付意外伤害医疗保险金。</p>
        <p>7、本产品意外住院津贴责任项下每次事故绝对免赔天数为0天，单次给付30天为限，每日赔付限额50元。多次累计给付天数以180天为限。</p>
        <p>8、每位被保险人每张订单仅限领取1份，被保险人为年龄0-80周岁身体健康、能正常工作或正常生活的自然人。 如同一被保险人同时有多张入住时间重叠的订单，以发生保险事故时所在民宿房屋地址所指向的订单下的保单为赔付依据。</p>
        <p><strong>【注意事项】</strong></p>
        <p>1、本保险产品摘要未尽事宜详见中国平安财产保险股份有限公司《Y001平安意外伤害保险》、《J003平安附加意外伤害医疗保险》、 《J092平安附加意外伤害住院津贴保险》、《Y003平安附加交通工具意外身故保险》条款。</p>
        <p>2、残疾保险金按《人身保险伤残评定标准》所列给付比例乘以残疾保险金额来确定，被保险人可登陆中国保险行业协会官网查阅；</p>
        <p>3、保单查询、保险咨询方式：请拨打平安保险全国统一客服电话95511进行查询。</p>
        <p style="color: red"><strong>投保前提示</strong></p>
        <p style="color: red">被保险人应认真阅读本保险说明，了解该产品投保范围、保障内容并同意投保。</p>
        <p style="color: red">被保险人确认对投保险种条款尤其是对保险责任条款、免除责任条款、解除合同条款、特别约定、受益人进行了阅读、确认、理解并同意遵守， 所填写资料真实正确。若保险合同成立生效，投保时所填写的资料将作为保险合同的一部分，如有隐瞒或不实告知，将承担由此带来的法律责任。</p>
        <p style="color: red"><strong>重要提示：</strong></p>
        <p style="color: red"><strong>您确认各项投保内容填写属实，您确认已征得被保险人同意并认可保险金额。</strong></p>
    </div>
</div>
<script src="static/js/vue.js"></script>
<script src="static/js/gioanalysis.js"></script>
<!-- 听云 -->
<script src="static/js/tingyun-rum1.js"></script>
</body>
</html>
