<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="">
<meta name="description" content="">


<title>日本标准住宅宿泊仲介业约款</title>    <link rel="stylesheet" type="text/css" href="static/css/xzcss-globalaboutxzcss-globalabout1.css.css">
</head>

<body class="body_bg">
<!--[if lte IE 7]>
<div style="background:#f16b80;  width:100%; height:50px; line-height:50px; text-align:center; font-size:14px; color:#fff; font-family:"微软雅黑";>
    温馨提示：您目前的浏览器版本过低，网站部分功能无法正常使用，建议尽快升级：
        <a href="http://www.microsoft.com/china/windows/IE/upgrade/index.aspx" name="升级ie浏览器" id="upgrade_ie" target="_blank" style=" display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/images/ie.jpg" width="154" height="40"/></a>
             或安装
        <a href="http://www.firefox.com.cn" target="_blank" name="升级火狐浏览器" id="upgrade_firefox" style="display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/images/firefox.jpg" width="154" height="40"/></a>
</div>
<![endif]-->

<div class="header height56">
    <div class="top"></div>
    <div class="top_wraper">
        <div class="top_con">
             
<link rel="stylesheet" type="text/css" href="static/css/xzcss-houseHoverrealNamePopjquerxzcss-houseHoverrealNamePopjquer.css.css">
<div class="o_mask" id='maskName' style="display:none;"></div>
<a class="logo_v2 logo_black" href="indexindex.html.html">小猪</a>
<span style="color: #fff;font-size: 19px;float: left;margin: 13px 0 0 10px;"> 酒店之外，就住小猪</span>
<ul class="nav clearfix">
<li><a href="javascript:;" class="show-register-box" title="" rel="nofollow">注册</a></li>
<li><span class="line_index"></span></li>
<li><a href="javascript:;" class="logindialog" rel="nofollow">登录</a></li>
<li><span class="line_index"></span></li>
<li class="active">
    <a class="icon_zhinan" href="#ongo">短租指南</a>
    <div class="sel_box sel_zhinan">
        <a href="xzweb-help_userguide_tenantxzweb-help_userguide_tenant.html.html">房客指南</a>
        <a href="xzweb-help_userguide_landlordxzweb-help_userguide_landlord.html.html">房东指南</a>
    </div>
</li>
<li class="active">
    <a href="#ongo" class="icon_iphone">手机小猪</a>
     <div class="sel_box fk_code">
         <a href="fkfk.html.html" target="_blank"><img src="static/picture/fk_code.png" alt="小猪" title="小猪"></a>
        <a href="fkfk.html.html" target="_blank">了解更多</a>
     </div>
</li>
<li><a id="Pub_Btn" class="btn_public show-register-box" data-href="http://www.xiaozhu.com/publish" rel="nofollow"></a></li>

</ul> 
<div id="userlogindialog" class="login_register_box" style="display:none;">
    <div class="w_698"> 
        <div class="r_colsed" id="closeUserLoginDialog"><span></span></div>
        <div class="clearfix">
            <div class="r_main_l">
                <ul class="r_tab clearfix">
                    <li class="percent_50 tc cur underL1" id="generalLi">普通登录</li>
                    <li class="percent_50 tc cur" id="mobileLi">短信快捷登录</li>
                </ul>
                <div id="generalLogin">
                    <ul class="register_list">
                        <li>
                            <div class="h_30">&nbsp;</div>
                            <div class="pr">
                                <div class="r_tel_ico"></div>
                                <input type="text" class="r_input_small" id="input-username" autocomplete="off" placeholder="手机号、邮箱" disabled="true">
    </div></li>
                        <li>
                            <div class="h_30"><div class="r_error_tip" id="input-username-tip"><span class="icon-wrong" id=""></span>手机号未注册</div></div>
                            <div class="pr">
                                <div class="r_password_ico"></div>
                                <input type="password" class="r_input_1" id="password" autocomplete="off" placeholder="密码" disabled="true">
                                <div class="h_30">
                                    <div class="r_error_tip" id="password-tip"><span class="ipt-text-pass"></span></div>
                                </div>
                            </div>
                        </li>
                        <span style="display:none" id="verify-show">
                        <li>
                        </li>
                        </span>
                        <li>
                            <div id="safeCheck2"></div>
                            <p id="input-slidecode-tip2" class="r_error_tip input-slidecode-tip" style="margin-bottom: 10px">请进行验证</p>
                        </li>
                    </ul>
                    <a href="###" class="r_input mt_10" id="orgBtn">登录</a>
                    <div class="r_login_space clearfix"><span class="fl cur "><input class="ipt-checkbox2" type="checkbox" id="setcookie" checked="checked">自动登录</span>
                    <span class="fr col_gray"><a href="findpwdbyphonefindpwdbyphone.html.html">忘记密码?</a></span></div>
                </div>
                <div id="mobileLogin" style="display:none">
                    <ul class="register_list">
                        <li>
                            <div class="h_30">&nbsp;</div>
                            <div class="pr">
                                <div class="r_telepho_ico"></div>
                                <input type="text" class="r_input_1" id="quick-input-mobile" autocomplete="off" placeholder="手机号" disabled="true">
                            </div>
                        </li>
                        <li>
                            <div class="h_30">
                                <div class="r_error_tip" id="quick-input-mobile-tip"><span class="icon-ok"></span></div>
                            </div>
                        </li>
                        <li>
                            <div id="safeCheck3"></div>
                            <p id="input-slidecode-tip3" class="r_error_tip input-slidecode-tip" style="margin-bottom: 10px">请进行验证</p>
                        </li>
                        <li>
                            <div class="pr">
                                <div class="r_vali_ico"></div>
                                <input type="text" class="r_input_small" id="quick-activate-code" autocomplete="off" placeholder="动态验证码" disabled="true">
                                <span class="btn have-nb" id="quick-get-code-btn">获取动态验证码</span>    
                                <div class="h_30">
                                    <div class="r_error_tip" id="quick-activate-code-tip"><span class="icon-ok"></span></div> 
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="###" class="r_input mt_10" id="orgBtnMobile">登录</a>
                    <p class="mt_10 mt_20">＊验证即登录，未注册将自动创建小猪账号</p>
                </div>
            </div>
            <div class="r_main_r">
                <h5>合作网站账户登录</h5>
<ul class="r_wedsitev1">
    <li>
    <a class="hz_qqv1" href="javascript:;"><i></i>QQ登录</a>
    </li>
    <li>
    <a class="hz_weibov1" href="javascript:;"><i></i>微博登录</a>
    </li>
    <li>
    <a class="hz_weixinv1" href="javascript:;"><i></i>微信登录</a>
    </li>
</ul>                <p>还没有注册？<a href="#" class="col_pink show-register-box">注册账号&gt;&gt;</a></p>
            </div>
            <div class="r_main_r r_main_qrcode_box">
              <div class="inner-box">
                <img class="applet-qrcode" src="static/picture/loginCode.png" alt="">
                <span class="text-box">
                  <span>微信扫码领950元</span>
                  <span>无需下载APP</span>
                </span>
              </div>
            </div>
        </div>
    </div>
</div>
<div id="mobilePerfeactInfoDialog" style="display:none;">
    <div class="w_400"> 
        <div class="perfeact-info-content" style="display:none;">
            <div class="r_colsed" id="mobilePerfeactInfoBtn"><span></span></div>
        <div class="r_top_logo">
            <p>首次登录，请完善资料后，开启小猪住宿之旅！</p>
        </div>
        <ul class="register_list">
            <li>
                <div class="h_30">
                    <p class="r_error_tip" style="display:none;"></p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_tel_ico"></div>
                    <input id="quick-input-username" type="text" placeholder="用户名" autocomplete="off" class="r_input_1">
                </div>
            </li>
            <li>
                <div class="h_30">
                    <p class="r_error_tip" id="quick-input-username-tip">请输入用户名</p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_password_ico"></div>
                    <input type="password" id="quick-regpassword" autocomplete="off" placeholder="密码" class="r_input_1">
                </div>
            </li>
            <li>
                <div class="h_30">
                    <p class="r_error_tip" id="quick-regpassword-tip">请输入密码</p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_num_ico"></div>
                    <input id="quick-invitecode" type="text" autocomplete="off" placeholder="邀请码(选填)" class="r_input_1">
                </div>
                <div class="h_30" style="display:none;">
                    <p id="quick-invitecode-tip" class="r_error_tip">邀请码输入有误</p>&nbsp;
                </div>
                <p class="col_fgray r_tip_text">使用朋友给您的邀请码注册后，均可获得300元</p>
            </li>
        </ul>
        <a class="r_input" id="mobileInfoPerfeactBtn" href="#">确定</a>
        <p class="tc mt_20">
            <span class="check_css3 agreeResBox">
                <input type="checkbox" class="input_check" id="check3">
                <label for="check3"></label>
            </span> 我同意  <a href="serviceservice.html.html" class="r-service-protocol" target="_blank">《服务协议》、</a><a href="privacyprivacy.html.html" class="r-service-protocol" target="_blank">《隐私保护声明》</a></p>
        </div>
    </div>
</div>
<div class="w_698 login_register_box " style="display:none;" id="registerDialog">
    <div class="r_colsed" id="closeRegiserDialog"><span></span></div>
    <div class="clearfix">
        <div class="r_main_l">
            <ul class="r_tab1 clearfix">
                <li class="fl cur">注册小猪账号</li>
                            </ul>
            <ul class="register_list">
                <li>
                    <div class="h_30">&nbsp;</div>

                    <div class="pr" id="reg">
                        <div class=" r_telepho_ico"></div>
                        <input type="text" id="input-mobile" autocomplete="off" placeholder="手机号" class="r_input_small col_input" value="">
                </div></li>
                <li>
                    <div class="h_30">
                        <p class="r_error_tip" id="input-mobile-tip">请输入手机号</p>&nbsp;
                    </div>
                    <!--<div class="pr">-->
                        <!--<div class="r_pho_ico"></div>-->
                        <!--<input type="text" placeholder="图片验证码" id="reg-image-code" autocomplete="off" class="r_input_small">-->
                        <!--<span class="r_code"><img class="change-verify-image" id="img_imagecode" title="点击更换验证码" width="101" height="33" /></span>-->
                    <!--</div>-->
                </li>
                <li>
                    <!--<div class="h_30">-->
                        <!--<p class="r_error_tip" id="reg-image-code-tip">请输入图片验证码</p>&nbsp;-->
                    <!--</div>-->
                    <div class="pr">
                        <div class="r_num_ico"></div>
                        <input id="invitecode" type="text" autocomplete="off" placeholder="邀请码(选填)" class="r_input_1">
                    </div>
                    <div class="h_30" style="display:none;">
                        <p id="input-invitecode-tip" class="r_error_tip">邀请码输入有误</p>&nbsp;
                    </div>
                    <p class="col_fgray r_tip_text">使用朋友给您的邀请码注册后，你们均可获得300元</p>
                </li>
               <li>
                  <div id="safeCheck"></div>
                  <p id="input-slidecode-tip" class="r_error_tip input-slidecode-tip" style="margin-bottom: 10px">请进行验证</p>
               </li>
            </ul>
            
            <a href="#" id="reg-btn" class="r_input">立即注册</a>
            <p class="mt_20">
                <span class="check_css3 agreeResBox">
                    <input type="checkbox" class="input_check" id="check3">
                    <label for="check3"></label>
                </span>
                我同意  <a href="serviceservice.html.html" class="r-service-protocol" target="_blank">《服务协议》、</a><a href="privacyprivacy.html.html" class="r-service-protocol" target="_blank">《隐私保护声明》</a></p>
        </div>
        <div class="r_main_r">
            <h5>合作网站账户登录</h5>
<ul class="r_wedsitev1">
    <li>
    <a class="hz_qqv1" href="javascript:;"><i></i>QQ登录</a>
    </li>
    <li>
    <a class="hz_weibov1" href="javascript:;"><i></i>微博登录</a>
    </li>
    <li>
    <a class="hz_weixinv1" href="javascript:;"><i></i>微信登录</a>
    </li>
</ul>            <p class="">已有账号？<a href="javascript:;" id="loginDialogBtn" class="col_pink logindialog">登录&gt;&gt;</a></p>
        </div>
        <div class="r_main_r r_main_qrcode_box">
          <div class="inner-box">
            <img class="applet-qrcode" src="static/picture/loginCode.png" alt="">
            <span class="text-box">
              <span>微信扫码领950元</span>
              <span>无需下载APP</span>
            </span>
          </div>
        </div>
    </div>
</div>
<div class="w_400 login_register_box" id='mobileRegisterInfoDialog' style="display:none;"> 
    <div class="r_colsed" id="closeMobileRegisterInfoDialog"><span></span></div>
    <div class="r_top_tit">
        <h6>验证短信已发送至手机号码</h6>
        <p><span id="codeRecivePhone"></span><span class="col_pink"><a href="#" id="modifyRegisterBtn">(修改)</a></span></p>
    </div>
    <ul class="register_list">
        <li>
            <div class="h_30">&nbsp;</div>
            <div class="pr">
                <div class="r_pho_ico"></div>
                <input type="text" id="activate-code" placeholder="手机验证码" autocomplete="off" class="r_input_small">
                <a href="#ongo" id="get-code-btn" class="have-nb">重新发送</a>
            </div>
        </li>
        <li>
            <div class="h_30">
                <p id="activate-code-tip" class="r_error_tip">请输入手机验证码</p>&nbsp;
            </div>
            <div class="pr">
                <div class=" r_tel_ico"></div>
                <input id="reginput-username" type="text" placeholder="用户名" autocomplete="off" class="r_input_1">
            </div>
        </li>
        <li>
            <div class="h_30">
                <p class="r_error_tip" id="reginput-username-tip">请输入用户名</p>&nbsp;
            </div>
            <div class="pr">
                <div class="r_password_ico"></div>
                <input type="password" id="regpassword" placeholder="密码" autocomplete="off" class="r_input_1">
            </div>
            <div class="h_30">
                <p class="r_error_tip" id="regpassword-tip">请输入密码</p>&nbsp;
            </div>
        </li>
    </ul>
    <a href="#" id="regConfirmBtn" class="r_input mt_10">确认</a>
</div>
<div id="regSuccessDialog" class="reg_success_box login_register_box" style="display:none;">
    <div class="">
        <div class="r_colsed_1" id="closeRegSuccDialogBtn"><span></span></div>
        <div id="regSuccInfo">
        </div>
    </div>
</div>        </div>
    </div>
</div><div class="overF_hidden"><img class="banner_01 marginT1" src="static/picture/about_banner_03.jpg" width="1440" height="245"></div>
<div class="about_main">
    <div class="bor_top"></div>
    <div class="about_L">
        <div class="insur_title">
            <h1>民宿居间业务条款</h1>
        </div>
        <div class="conter_wrap">
            <h4>第１章总则</h4>
            <h4>第１条（适用范围）</h4>
            <p>1.1本公司与住客之间签订的民宿居间合同，应遵守本条款之规定。本条款未定事项，应遵守法律法规或者一般行为准则。</p>
            <p>1.2在本公司不违法且在不构成对住客不利的范围内以书面或其他适当方式签订了特别协议时，无论前款规定如何，该特别协议优先适用。</p>

            <h4>第2条（定义）</h4>
            <p>2.1民宿居间合同：指本公司依据住客的委托，就住客接受民宿事业者提供的在备案民宿的住宿服务（以下简称“住宿服务”）相关，受托为住客从事代理、中介或居间的合同。</p>
            <p>2.2民宿居间业务相关报酬：指住客就住宿服务的居间事宜向本公司支付的报酬。</p>
            <p>2.3住宿费用：指本公司为住宿服务的居间，向民宿事业者支付的费用和本公司规定的民宿居间业务相关报酬（变更手续和撤销手续的收费除外）。</p>
            <p>
                2.4通信合同：指与本公司合作的信用卡公司（以下称为“合作公司”）的持卡会员之间以互联网或其他通信手段收到申请后签订之民宿居间合同。包含本公司基于民宿居间合同对住客与住宿费用相关的债权债务，于该债权债务的应履行日后按照另行规定的合作公司的持卡会员规则进行结算，住客表示事先认可且住宿费用等按照第16条第1款或第5款规定的方式进行支付之内容的民宿居间合同。</p>
            <p>
                2.5电子承诺通知：指对合同申请的承诺通知，住客通过事先指定的电子邮件地址发送电子邮件的方法，以及其他本公司使用的电子计算机、传真机、电报或电话（以下称为“计算机等”）与住客使用的计算机等连接通过电信线路通讯发送信息的方式。</p>
            <p>2.6用卡日：指住客或本公司根据民宿居间合同应支付住宿费用等或退款的日期。</p>

            <h4>第3条（终止居间义务）</h4>
            <p>
                本公司在尽到善意管理人的注意义务完成住宿服务的居间时，基于民宿居间合同的本公司义务终止。因此，即使由于停止营业、条件不合适等原因而无法与民宿事业者签订提供住宿服务合同的情况下，在本公司已履行义务时，住客将不得不向本公司支付规定的住宿中介业务相关费用。在签订通信合同的情况下，用卡日应为本公司将未能与民宿事业者签订提供住宿服务合同之内容通知住客之日。</p>

            <h4>第4条（居间代理人）</h4>
            <p>本公司在履行民宿居间合同时，本公司可将居间业务的全部或部分交付给本国内或本国以外的其他民宿居间机构、从事居间业者或其他辅助者代为办理。</p>

            <h4>第２章合同成立</h4>
            <h4>第5条（合同申请）</h4>
            <p>5.1有意与本公司签订通信合同的住客，必须将持卡会员编号以及要求住宿服务内容通知给本公司。</p>
            <p>5.2有意与本公司签订民宿居间合同（通信合同除外）的住客，必须在填写本公司规定的申请表格记载的规定事项的基础上，连同本公司另行指定金额的申请费提交本公司。</p>
            <p>5.3前款规定的申请费作为住宿费用、取消费及其他住客应支付给本公司的款项的一部分处理。</p>

            <h4>第6条（拒绝签订合同）</h4>
            <p>6.1在下列情况下，本公司可能就民宿居间合同的签订不作对应。</p>
            <p>6.1.1有意签订通信合同，因住客持有的信用卡无效等，住客不能根据合作公司的持卡会员规则来结算住宿费用等相关债务的部分或全部时；</p>
            <p>6.1.2当住客被认为是黑社会组织成员、黑社会组织准成员、黑社会组织关联人士、黑社会组织关联企业、股东会搅局者或其他反社会势力时；</p>
            <p>6.1.3当住客向本公司作出暴力请求行为、不合理请求行为、在交易中使用威胁言语或暴力行为或与之类似的行为时；</p>
            <p>6.1.4住客散布谣言，使用欺骗或使用权力损害本公司信誉，或妨碍本公司业务或类似行为时；</p>
            <p>6.1.5住客在使用本公司的服务时，发生诽谤第三方的行为、危害公序良俗的行为，反复在本公司的网站上发布不必要的信息，及其他本公司认为不适宜行为时。

            <h4>第7条（合同的成立时间）</h4>
            <p>7.1通信合同应在电子承诺通知到达住客时成立。但是，当对合同申请的承诺通知未以电子承诺通知的方式发出时，该合同应在本公司依据第5条第1款将记载承诺申请内容的通知发出时成立。</p>
            <p>7.2民宿居间合同（通信合同除外）应于本公司承诺合同签订，并受理第5条第2款规定的申请费时成立。</p>

            <h4>第8条（合同成立的特别约定）</h4>
            <p>8.1尽管有第5条第2款的规定，可以在有书面特别约定的情况下，即使不收取申请费，仅凭合同签订之承诺作为民宿居间合同的成立。</p>
            <p>8.2前款情况下，民宿居间合同的成立时间，应在前款书面中予以明确。</p>

            <h4>第9条（住宿券等的特别约定）</h4>
            <p>9.1尽管有第5条第2款和前条第1款的规定，本公司在民宿居间合同中关于交付标注可替代住宿费用接受住宿服务之权利文件相关,可接受口头申请方式。</p>
            <p>9.2在前款情况下，民宿居间合同于本公司承诺合同签订时成立。</p>

            <h4>第10条（交易条件说明事项）</h4>
            <p>
                10.1本公司在签订民宿居间合同前，将住宿日期、住宿服务内容、住宿费用及其他因住宿通常发生费用、本公司责任和免责事宜、变更手续费用、取消手续费用及其他国土交通省关于民宿事业法施行规则（2017年日本国土交通省第65号文）第40条各项所列事项以及对应住客投诉、咨询等的联系窗口（以下称为“交易条件说明事项”），使用信息通信技术提供通知给住客。</p>
            <p>10.2在前款情况下，本公司确认为住客使用的电子计算机所提供的文件记录有交易条件说明事项。</p>
            <p>
                10.3在前款情况下，如果用于记录交易条件说明项目的文件未被提供给住客使用的电子计算机时，则在本公司使用的计算机所提供的文件（仅供该住客使用）中记录交易条件说明事项，并确认住客阅览了记录交易条件说明事项。</p>
            <p>10.4本公司基于民宿居间合同承担居间义务的住宿服务范围取决于交易条件说明项目的规定。</p>

            <h4>第11条（文件交付方法）</h4>
            <p>本公司可以交付发布记载交易条件说明事项的文件（以下各条称为“交易条件说明文件”）以替代使用信息通信技术的方法提供交易条件说明事项。 但是，在本公司交付适用于本公司居间的所有住宿服务的标注可替代住宿费用接受住宿服务之权利文件时，可不提供该交易条件说明文件。</p>

            <h4>第３章合同变更和解除</h4>
            <h4>第12条（合同内容的变更）</h4>
            <p>12.1住客可以向本公司提出更改住宿日程、住宿服务内容及其他民宿居间合同的内容。该情况下，本公司尽可能对应住客的要求。</p>
            <p>
                12.2如果根据前款住客的要求更改了民宿居间合同的内容，住客在取消已经完成中介时，除了必须负担向民宿事业者支付取消费、违约金或任何其他变更居间所需的费用，还应向本公司支付事先明示的本公司规定的变更手续费。此外，民宿居间合同内容变更引起的住宿费用的增加或减少应由住客承担。</p>

            <h4>第十三条（住客单方面解除）</h4>
            <p>13.1住客可随时解除全部或部分民宿居间合同。</p>
            <p>
                13.2根据前款规定解除民宿居间合同时，住客除了承担作为其已经接受之住宿服务的对价，或者尚未接受之住宿服务有关的取消费用、违约金、其他已支付民宿经营者的、又或者将来支付费用以外，还须向本公司支付本公司预先明示规定的取消手续费以及本公司应得的有关民宿中介业务相关的费用。</p>

            <h4>第十四条（因住客原因导致解除）</h4>
            <p>14.1在下列情况下，本公司可以解除民宿居间合同。</p>
            <p>14.1.1签订通信合同情况下，因住客的信用卡无效等原因，无法根据合作公司的持卡会员规则结算部分或全部住宿费用等相关的债务时；</p>
            <p>14.1.2当住客没有在规定的期限内支付住宿费用时；</p>
            <p>14.1.3当证明该住客属于第6条第2项至第5项中的任意一项时。</p>
            <p>
                14.2根据前款规定解除民宿居间合同时，住客除了承担尚未接受提供住宿服务的取消费用、违约金、其他已经支付民宿事业者的或必须支付的费用以外，还须向本公司支付预先明示规定的取消手续费以及本公司应得的民宿中介业务相关的费用。</p>

            <h4>第十五条（因本公司原因导致解除）</h4>
            <p>15.1由于本公司原因导致住宿服务的居间无法实现时，客户可以解除民宿居间合同。</p>
            <p>15.2根据前款规定解除民宿居间合同时，除作为住客已接受住宿服务的对价已经支付或者必须支付给民宿经营者的费用以外，本公司将已经收到的住宿费用退还给住客。</p>
            <p>15.3前款规定不影响住客对本公司的损害索赔请求。</p>

            <h4>第４章住宿费用</h4>
            <h4>第16条（住宿费用）</h4>
            <p>16.1签订通信合同时，依合作公司的信用卡规定的票据无须住客的签名接受住宿费支付。该情况下，用卡日应是本公司将确认的住宿服务的内容通知住客的日期。</p>
            <p>16.2住客必须在住宿开始前本公司规定的期限内，支付住宿费用给本公司。</p>
            <p>16.3在住宿开始前，由于民宿经营者修订价格、汇率市场变动或其他原因导致住宿费用发生变化的情况下，本公司可能会变更该住宿费用。</p>
            <p>16.4前款情况下，住宿费用的增减应由住客承担。</p>
            <p>
                16.5与住客签订通信合同，在发生第3章或第3章规定的由住客承担费用等情况时，本公司依合作公司的信用卡规定的票据无须住客的签名接受该费用支付。该情况下，用卡日应为本公司将其应向本公司支付的费用等金额或本公司应退还给住客的金额，通知住客当日。但是，如果本公司依据第14条第1款第1项的规定解除民宿居间合同的情况下，则住客须在本公司规定期限前，以本公司规定付款方式向本公司支付应付费用等。</p>

            <h4>第17条（住宿费用的结算）</h4>
            <p>
                17.1本公司为居间住宿服务支付给民宿经营者的费用中应由住客负担部分以及民宿居间服务相关费用（以下称为“待结算住宿费用”），与作为住宿费用已经收到的金额不符的情况下，在住宿后按照以下第2款第3款规定尽快结算住宿费用。</p>
            <p>17.2待结算住宿费用超过已收取的住宿费用时，住客必须向本公司支付差价。</p>
            <p>17.3待结算住宿费用少于已收取的住宿费用时，本公司必须向住客退还差价。</p>

            <h4>第５章团体/团体居间</h4>
            <h4>第18条（团体/团体中介）</h4>
            <p>本公司就同时多名住客决定由其授权代表（以下简称“合同负责人”）申请签订的民宿居间合同，适用本章规定。</p>

            <h4>第十九条（合同负责人）</h4>
            <p>
                19.1除非本公司签订特别协议，否则本公司视为合同负责人拥有组成该团体/小组住客（以下称为“组成成员”）与签订民宿居间合同相关的一切代理权限，与该团体/小组相关民宿居间业务相关交易应与合同负责人之间开展进行。</p>
            <p>19.2合同负责人必须在本公司指定期限前向本公司提交组成成员名单或通知人数。</p>
            <p>19.3.对于合同负责人与组成成员之间现在负有或预期未来负有的债务或义务，本公司不承担任何责任。</p>
            <p>19.4合同负责人未与团队/小组同行的情况下，本公司将在住宿开始后，将合同负责人提前指定的组成成员视为合同负责人。</p>

            <h4>第20条（合同成立的特别约定）</h4>
            <p>20.1尽管有第5条第2款的规定，在与合同负责人签订民宿居间合同（通信合同除外，下同）的情况下，本公司可不收取申请费而承诺签订民宿居间合同。</p>
            <p>20.2根据前款规定未收取申请费而承诺签订民宿居间合同的情况下，本公司应当向合同负责人提交记载该情况的文件，民宿居间合同于本公司交付该文件时成立。</p>

            <h4>第21条（组成成员的变更）</h4>
            <p>21.1当合同负责人要求变更组成成员时，本公司尽可能予以对应。</p>
            <p>21.2因前款变更造成的住宿费用的增减以及该变更产生的费用，由组成成员承担。</p>

            <h4>第６章责任</h4>
            <h4>第22条（本公司的责任）</h4>
            <p>
                22.1在履行民宿居间合同时，本公司或本公司根据第4条规定代办居间者（以下简称“居间代理人”）因故意或过失导致住客发生损害的，本公司将承担赔偿责任。但是，其仅限在发生损害次日起的两年内通知本公司的。</p>
            <p>22.2如果住客因自然灾害、战争、暴动、民宿经营者停止民宿服务、政府命令或其他非因本公司与本公司居间代理人关联原因而遭受损失时，除前款情况以外本公司没有赔偿责任。</p>
            <p>
                22.3.尽管有第1款规定，就行李有关发生第1款规定损失的，仅限在发生损害次日起21天内通知本公司的情况下，本公司就每位住客以150,000日元为限（本公司有故意或重大过失时除外）承担赔偿。</p>

            <h4>第二十三条（住客的责任）</h4>
            <p>23.1如果本公司因住客故意或过失而遭受损害时，该住客必须赔偿损失。</p>
            <p>23.2在签订民宿居间合同时，住客必须尽力使用本公司提供的信息来了解住客的权利义务以及民宿居间合同的内容。</p>
            <p>23，3当住客在住宿开始后，认为所提供住宿服务与作为交易条件说明事项提供的住宿服务不同时，须尽快通知本公司、本公司居间代理人或民宿事业者。</p>

            <h4>第７章投诉、咨询等的对应</h4>
            <h4>第23条（对投诉、咨询等的对应）</h4>
            <p>本公司应及时、恰当地对应住客提出的有关住宿服务内容及其他交易条件说明事项相关的投诉、咨询等，并尽力及时妥善解决有关投诉、咨询等事宜。</p>

        </div>
    </div>
    <div class="about_R">
    <dl class="about_sider">
        <dt>网站介绍</dt>
        <dd><a href="aboutusaboutus.html.html">&middot; &nbsp;关于我们</a></dd>
        <dd><a href="contactuscontactus.html.html">&middot; &nbsp;联系我们</a></dd>
        <dd><a href="sitemapsitemap.html.html">&middot; &nbsp;网站地图</a></dd>
        <dd><a href="javascript:;">&middot; &nbsp;友情链接</a></dd>
    </dl>
    <dl class="about_sider">
        <dt>法律协议</dt>
        <dd><a href="privacyprivacy.html.html">&middot; &nbsp;隐私保护声明</a></dd>
        <dd><a href="copyrightcopyright.html.html">&middot; &nbsp;版权声明</a></dd>
        <dd><a href="serviceservice.html.html">&middot; &nbsp;服务协议</a></dd>
        <dd><a href="disclaimerdisclaimer.html.html">&middot; &nbsp;免责声明</a></dd>
        <dd><a href="intellectualpropertyintellectualproperty.html.html">&middot; &nbsp;知识产权声明</a></dd>
        <dd><a href="javascript:;">&middot; &nbsp;委托服务协议</a></dd>
        <dd><a href="">&middot; &nbsp;日本标准住宅宿泊仲介业约款</a></dd>
    </dl>
    <dl class="about_sider">
        <dt>服务规则</dt>
        <dd><a href="landlordrulelandlordrule.html.html">&middot; &nbsp;房东规则</a></dd>
        <dd><a href="tenantruletenantrule.html.html">&middot; &nbsp;房客规则</a></dd>
        <dd><a href="auditruleauditrule.html.html">&middot; &nbsp;房源上线标准</a></dd>
        <dd><a href="commentrulecommentrule.html.html">&middot; &nbsp;点评发布规则</a></dd>
                                <dd><a href="javascript:;">&middot; &nbsp;未成年人入住规则</a></dd>
    </dl>
</div>    </div>

 
<div class="foot_v2">
        <ul class="foot_ul">
        <li><a class="guide" href="xzweb-help_userguide_tenantxzweb-help_userguide_tenant.html.html" target="_blank">房客指南</a></li>
        <li><a class="guide icon_fk" href="xzweb-help_userguide_landlordxzweb-help_userguide_landlord.html.html" target="_blank">房东指南</a></li>
        <li>
            <span class="guide_T">关于我们</span>
            <a href="aboutusaboutus.html.html" target="_blank">关于小猪</a>
            <a href="javascript:;" target="_blank">加入我们</a>
            <a href="contactuscontactus.html.html" target="_blank">联系我们</a>
        </li>
        <li>
            <span class="guide_T">网站帮助</span>
            <a href="indexindex5.html.html" target="_blank">帮助中心</a>
            <a href="sitemapsitemap.html.html" target="_blank">网站地图</a> 
        </li>
        <li class="width_280">
            <span class="guide_T">网站协议</span><br>
            <a href="serviceservice.html.html" target="_blank">服务协议</a> 
            <a href="landlordrulelandlordrule.html.html" target="_blank">房东规则</a>
            <a href="tenantruletenantrule.html.html" target="_blank">房客规则</a>
            <a href="auditruleauditrule.html.html" target="_blank">房源上线标准</a>
            <a href="privacyprivacy.html.html" target="_blank">隐私保护</a>
            <a href="copyrightcopyright.html.html" target="_blank">版权声明</a>
            <a href="disclaimerdisclaimer.html.html" target="_blank">免责声明</a>
            <a href="intellectualpropertyintellectualproperty.html.html" target="_blank">知识产权声明</a>
            <a href="commentrulecommentrule.html.html" target="_blank">点评发布规则</a>
            <a href="" target="_blank">日本标准住宅宿泊仲介业约款</a>
        </li>
        <li class="bigFont online_kf">
            <span class="logindialog"><i></i>在线客服</span>
            <p>客服电话  400 - 010 - 7890</p>
            <p>客服邮箱  service@xiaozhu.com</p>
        </li>
            </ul>
                <div class="foot_btm">京ICP备12035936号-1 &nbsp;&nbsp;许可证号：京ICP证140510号 &nbsp;&nbsp; <a href="javascript:;" |="" name="mt8SMvYyRDI92b06nuDs8dPFapllCJYidqhM1WlOoGRZ9DWpbo" rel="nofollow" target="_blank">安全联盟</a> &nbsp;&nbsp; 北京快跑信息科技有限公司 &nbsp;&nbsp; <a href="files/yingyeyingye.jpg.jpg" |="" name="yingyezhizhao" rel="nofollow" target="_blank">营业执照号 103613118</a> <span style="display:none">  &nbsp;&nbsp; 地址：北京市海淀区知春路56号   &nbsp;&nbsp;电话：010-62961978</span>
    </div>
    <div style="margin:0 auto;color:#bdc3c7;">
        <a target="_blank" href="javascript:;" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="static/picture/govRecord_icon.png"><p style="display:inline-block;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#bdc3c7;">京公网安备 11010802020380号</p></a>
        &nbsp;&nbsp; 违法和不良信息举报电话：4000107890转6  &nbsp;&nbsp; 举报邮箱：jubao@xiaozhu.com
    </div>
</div>

<input type="hidden" name="actionName" id="actionName" value="Help_japanreservationrule">
<input type="hidden" name="xz_srf_token" id="xz_srf_token" value="2982b726deea1617eb82514eb68e4f6d">

<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/xzjs-Footer_www.xiaozhu.com.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/xzcss-jquery.mCustomScrollbarnyrxzcss-jquery.mCustomScrollbarnyr.css.css">
<script type="text/javascript" src="static/js/lazyload.js"></script>
<script type="text/javascript" src="static/js/xzim4-xiaozhu_xiaozhu.com.js" id="webimSource"></script>

<script type="text/javascript" src="static/js/xzjs-FangDong_Header_www.xiaozhu1.js"></script>
<script type="text/javascript" src="static/js/xzjs-Help_japanreservationrule_w.js"></script>
</body>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager --></html>
