<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="">
<meta name="description" content="">


<title>隐私保护声明-小猪</title>		<link rel="stylesheet" type="text/css" href="static/css/xzcss-globalaboutxzcss-globalabout1.css.css">
	</head>

	<body class="body_bg">
		<!--[if lte IE 7]>
<div style="background:#f16b80;  width:100%; height:50px; line-height:50px; text-align:center; font-size:14px; color:#fff; font-family:"微软雅黑";>
    温馨提示：您目前的浏览器版本过低，网站部分功能无法正常使用，建议尽快升级：
        <a href="http://www.microsoft.com/china/windows/IE/upgrade/index.aspx" name="升级ie浏览器" id="upgrade_ie" target="_blank" style=" display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/images/ie.jpg" width="154" height="40"/></a>
             或安装
        <a href="http://www.firefox.com.cn" target="_blank" name="升级火狐浏览器" id="upgrade_firefox" style="display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/images/firefox.jpg" width="154" height="40"/></a>
</div>
<![endif]-->

<div class="header height56">
    <div class="top"></div>
    <div class="top_wraper">
        <div class="top_con">
             
<link rel="stylesheet" type="text/css" href="static/css/xzcss-houseHoverrealNamePopjquerxzcss-houseHoverrealNamePopjquer.css.css">
<div class="o_mask" id='maskName' style="display:none;"></div>
<a class="logo_v2 logo_black" href="indexindex.html.html">小猪</a>
<span style="color: #fff;font-size: 19px;float: left;margin: 13px 0 0 10px;"> 酒店之外，就住小猪</span>
<ul class="nav clearfix">
<li><a href="javascript:;" class="show-register-box" title="" rel="nofollow">注册</a></li>
<li><span class="line_index"></span></li>
<li><a href="javascript:;" class="logindialog" rel="nofollow">登录</a></li>
<li><span class="line_index"></span></li>
<li class="active">
    <a class="icon_zhinan" href="#ongo">短租指南</a>
    <div class="sel_box sel_zhinan">
        <a href="xzweb-help_userguide_tenantxzweb-help_userguide_tenant.html.html">房客指南</a>
        <a href="xzweb-help_userguide_landlordxzweb-help_userguide_landlord.html.html">房东指南</a>
    </div>
</li>
<li class="active">
    <a href="#ongo" class="icon_iphone">手机小猪</a>
     <div class="sel_box fk_code">
         <a href="fkfk.html.html" target="_blank"><img src="static/picture/fk_code.png" alt="小猪" title="小猪"></a>
        <a href="fkfk.html.html" target="_blank">了解更多</a>
     </div>
</li>
<li><a id="Pub_Btn" class="btn_public show-register-box" data-href="http://www.xiaozhu.com/publish" rel="nofollow"></a></li>

</ul> 
<div id="userlogindialog" class="login_register_box" style="display:none;">
    <div class="w_698"> 
        <div class="r_colsed" id="closeUserLoginDialog"><span></span></div>
        <div class="clearfix">
            <div class="r_main_l">
                <ul class="r_tab clearfix">
                    <li class="percent_50 tc cur underL1" id="generalLi">普通登录</li>
                    <li class="percent_50 tc cur" id="mobileLi">短信快捷登录</li>
                </ul>
                <div id="generalLogin">
                    <ul class="register_list">
                        <li>
                            <div class="h_30">&nbsp;</div>
                            <div class="pr">
                                <div class="r_tel_ico"></div>
                                <input type="text" class="r_input_small" id="input-username" autocomplete="off" placeholder="手机号、邮箱" disabled="true">
    </div></li>
                        <li>
                            <div class="h_30"><div class="r_error_tip" id="input-username-tip"><span class="icon-wrong" id=""></span>手机号未注册</div></div>
                            <div class="pr">
                                <div class="r_password_ico"></div>
                                <input type="password" class="r_input_1" id="password" autocomplete="off" placeholder="密码" disabled="true">
                                <div class="h_30">
                                    <div class="r_error_tip" id="password-tip"><span class="ipt-text-pass"></span></div>
                                </div>
                            </div>
                        </li>
                        <span style="display:none" id="verify-show">
                        <li>
                        </li>
                        </span>
                        <li>
                            <div id="safeCheck2"></div>
                            <p id="input-slidecode-tip2" class="r_error_tip input-slidecode-tip" style="margin-bottom: 10px">请进行验证</p>
                        </li>
                    </ul>
                    <a href="###" class="r_input mt_10" id="orgBtn">登录</a>
                    <div class="r_login_space clearfix"><span class="fl cur "><input class="ipt-checkbox2" type="checkbox" id="setcookie" checked="checked">自动登录</span>
                    <span class="fr col_gray"><a href="findpwdbyphonefindpwdbyphone.html.html">忘记密码?</a></span></div>
                </div>
                <div id="mobileLogin" style="display:none">
                    <ul class="register_list">
                        <li>
                            <div class="h_30">&nbsp;</div>
                            <div class="pr">
                                <div class="r_telepho_ico"></div>
                                <input type="text" class="r_input_1" id="quick-input-mobile" autocomplete="off" placeholder="手机号" disabled="true">
                            </div>
                        </li>
                        <li>
                            <div class="h_30">
                                <div class="r_error_tip" id="quick-input-mobile-tip"><span class="icon-ok"></span></div>
                            </div>
                        </li>
                        <li>
                            <div id="safeCheck3"></div>
                            <p id="input-slidecode-tip3" class="r_error_tip input-slidecode-tip" style="margin-bottom: 10px">请进行验证</p>
                        </li>
                        <li>
                            <div class="pr">
                                <div class="r_vali_ico"></div>
                                <input type="text" class="r_input_small" id="quick-activate-code" autocomplete="off" placeholder="动态验证码" disabled="true">
                                <span class="btn have-nb" id="quick-get-code-btn">获取动态验证码</span>    
                                <div class="h_30">
                                    <div class="r_error_tip" id="quick-activate-code-tip"><span class="icon-ok"></span></div> 
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="###" class="r_input mt_10" id="orgBtnMobile">登录</a>
                    <p class="mt_10 mt_20">＊验证即登录，未注册将自动创建小猪账号</p>
                </div>
            </div>
            <div class="r_main_r">
                <h5>合作网站账户登录</h5>
<ul class="r_wedsitev1">
    <li>
    <a class="hz_qqv1" href="javascript:;"><i></i>QQ登录</a>
    </li>
    <li>
    <a class="hz_weibov1" href="javascript:;"><i></i>微博登录</a>
    </li>
    <li>
    <a class="hz_weixinv1" href="javascript:;"><i></i>微信登录</a>
    </li>
</ul>                <p>还没有注册？<a href="#" class="col_pink show-register-box">注册账号&gt;&gt;</a></p>
            </div>
            <div class="r_main_r r_main_qrcode_box">
              <div class="inner-box">
                <img class="applet-qrcode" src="static/picture/loginCode.png" alt="">
                <span class="text-box">
                  <span>微信扫码领950元</span>
                  <span>无需下载APP</span>
                </span>
              </div>
            </div>
        </div>
    </div>
</div>
<div id="mobilePerfeactInfoDialog" style="display:none;">
    <div class="w_400"> 
        <div class="perfeact-info-content" style="display:none;">
            <div class="r_colsed" id="mobilePerfeactInfoBtn"><span></span></div>
        <div class="r_top_logo">
            <p>首次登录，请完善资料后，开启小猪住宿之旅！</p>
        </div>
        <ul class="register_list">
            <li>
                <div class="h_30">
                    <p class="r_error_tip" style="display:none;"></p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_tel_ico"></div>
                    <input id="quick-input-username" type="text" placeholder="用户名" autocomplete="off" class="r_input_1">
                </div>
            </li>
            <li>
                <div class="h_30">
                    <p class="r_error_tip" id="quick-input-username-tip">请输入用户名</p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_password_ico"></div>
                    <input type="password" id="quick-regpassword" autocomplete="off" placeholder="密码" class="r_input_1">
                </div>
            </li>
            <li>
                <div class="h_30">
                    <p class="r_error_tip" id="quick-regpassword-tip">请输入密码</p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_num_ico"></div>
                    <input id="quick-invitecode" type="text" autocomplete="off" placeholder="邀请码(选填)" class="r_input_1">
                </div>
                <div class="h_30" style="display:none;">
                    <p id="quick-invitecode-tip" class="r_error_tip">邀请码输入有误</p>&nbsp;
                </div>
                <p class="col_fgray r_tip_text">使用朋友给您的邀请码注册后，均可获得300元</p>
            </li>
        </ul>
        <a class="r_input" id="mobileInfoPerfeactBtn" href="#">确定</a>
        <p class="tc mt_20">
            <span class="check_css3 agreeResBox">
                <input type="checkbox" class="input_check" id="check3">
                <label for="check3"></label>
            </span> 我同意  <a href="serviceservice.html.html" class="r-service-protocol" target="_blank">《服务协议》、</a><a href="" class="r-service-protocol" target="_blank">《隐私保护声明》</a></p>
        </div>
    </div>
</div>
<div class="w_698 login_register_box " style="display:none;" id="registerDialog">
    <div class="r_colsed" id="closeRegiserDialog"><span></span></div>
    <div class="clearfix">
        <div class="r_main_l">
            <ul class="r_tab1 clearfix">
                <li class="fl cur">注册小猪账号</li>
                            </ul>
            <ul class="register_list">
                <li>
                    <div class="h_30">&nbsp;</div>

                    <div class="pr" id="reg">
                        <div class=" r_telepho_ico"></div>
                        <input type="text" id="input-mobile" autocomplete="off" placeholder="手机号" class="r_input_small col_input" value="">
                </div></li>
                <li>
                    <div class="h_30">
                        <p class="r_error_tip" id="input-mobile-tip">请输入手机号</p>&nbsp;
                    </div>
                    <!--<div class="pr">-->
                        <!--<div class="r_pho_ico"></div>-->
                        <!--<input type="text" placeholder="图片验证码" id="reg-image-code" autocomplete="off" class="r_input_small">-->
                        <!--<span class="r_code"><img class="change-verify-image" id="img_imagecode" title="点击更换验证码" width="101" height="33" /></span>-->
                    <!--</div>-->
                </li>
                <li>
                    <!--<div class="h_30">-->
                        <!--<p class="r_error_tip" id="reg-image-code-tip">请输入图片验证码</p>&nbsp;-->
                    <!--</div>-->
                    <div class="pr">
                        <div class="r_num_ico"></div>
                        <input id="invitecode" type="text" autocomplete="off" placeholder="邀请码(选填)" class="r_input_1">
                    </div>
                    <div class="h_30" style="display:none;">
                        <p id="input-invitecode-tip" class="r_error_tip">邀请码输入有误</p>&nbsp;
                    </div>
                    <p class="col_fgray r_tip_text">使用朋友给您的邀请码注册后，你们均可获得300元</p>
                </li>
               <li>
                  <div id="safeCheck"></div>
                  <p id="input-slidecode-tip" class="r_error_tip input-slidecode-tip" style="margin-bottom: 10px">请进行验证</p>
               </li>
            </ul>
            
            <a href="#" id="reg-btn" class="r_input">立即注册</a>
            <p class="mt_20">
                <span class="check_css3 agreeResBox">
                    <input type="checkbox" class="input_check" id="check3">
                    <label for="check3"></label>
                </span>
                我同意  <a href="serviceservice.html.html" class="r-service-protocol" target="_blank">《服务协议》、</a><a href="" class="r-service-protocol" target="_blank">《隐私保护声明》</a></p>
        </div>
        <div class="r_main_r">
            <h5>合作网站账户登录</h5>
<ul class="r_wedsitev1">
    <li>
    <a class="hz_qqv1" href="javascript:;"><i></i>QQ登录</a>
    </li>
    <li>
    <a class="hz_weibov1" href="javascript:;"><i></i>微博登录</a>
    </li>
    <li>
    <a class="hz_weixinv1" href="javascript:;"><i></i>微信登录</a>
    </li>
</ul>            <p class="">已有账号？<a href="javascript:;" id="loginDialogBtn" class="col_pink logindialog">登录&gt;&gt;</a></p>
        </div>
        <div class="r_main_r r_main_qrcode_box">
          <div class="inner-box">
            <img class="applet-qrcode" src="static/picture/loginCode.png" alt="">
            <span class="text-box">
              <span>微信扫码领950元</span>
              <span>无需下载APP</span>
            </span>
          </div>
        </div>
    </div>
</div>
<div class="w_400 login_register_box" id='mobileRegisterInfoDialog' style="display:none;"> 
    <div class="r_colsed" id="closeMobileRegisterInfoDialog"><span></span></div>
    <div class="r_top_tit">
        <h6>验证短信已发送至手机号码</h6>
        <p><span id="codeRecivePhone"></span><span class="col_pink"><a href="#" id="modifyRegisterBtn">(修改)</a></span></p>
    </div>
    <ul class="register_list">
        <li>
            <div class="h_30">&nbsp;</div>
            <div class="pr">
                <div class="r_pho_ico"></div>
                <input type="text" id="activate-code" placeholder="手机验证码" autocomplete="off" class="r_input_small">
                <a href="#ongo" id="get-code-btn" class="have-nb">重新发送</a>
            </div>
        </li>
        <li>
            <div class="h_30">
                <p id="activate-code-tip" class="r_error_tip">请输入手机验证码</p>&nbsp;
            </div>
            <div class="pr">
                <div class=" r_tel_ico"></div>
                <input id="reginput-username" type="text" placeholder="用户名" autocomplete="off" class="r_input_1">
            </div>
        </li>
        <li>
            <div class="h_30">
                <p class="r_error_tip" id="reginput-username-tip">请输入用户名</p>&nbsp;
            </div>
            <div class="pr">
                <div class="r_password_ico"></div>
                <input type="password" id="regpassword" placeholder="密码" autocomplete="off" class="r_input_1">
            </div>
            <div class="h_30">
                <p class="r_error_tip" id="regpassword-tip">请输入密码</p>&nbsp;
            </div>
        </li>
    </ul>
    <a href="#" id="regConfirmBtn" class="r_input mt_10">确认</a>
</div>
<div id="regSuccessDialog" class="reg_success_box login_register_box" style="display:none;">
    <div class="">
        <div class="r_colsed_1" id="closeRegSuccDialogBtn"><span></span></div>
        <div id="regSuccInfo">
        </div>
    </div>
</div>        </div>
    </div>
</div>		<div class="overF_hidden"><img class="banner_01 marginT1" src="static/picture/about_banner_02.jpg" width="1440" height="245"></div>
		<div class="about_main">
			<div class="bor_top"></div>
			<div class="about_L my_p_body">
				<h1>小猪隐私政策协议</h1>
				<p>更新日期：2019年11月29日</p>
				<p>生效日期：2019年12月6日</p>
				<p>欢迎您访问小猪网站，小猪APP是由北京快跑信息科技有限公司（注册地址：北京市石景山区石景山路乙18号院5号楼13层1517室）<b>所有、运营及维护。<u>隐私权是您的重要权利，小猪非常重视保护您的隐私，在使用小猪服务之前，请您务必仔细阅读并透彻理解本协议，重点内容小猪已采用粗体下划线特别提示，希望您在阅读浏览时特别关注。若您不同意本协议的条款，您应立即停止注册程序和/或停止使用平台服务，一旦您使用或继续使用小猪产品与服务，即表示您同意小猪按照本政策处理您的相关信息。</u></b></p>
				<h2>一、概述</h2>
				<p>1、小猪将逐一说明小猪收集的您的个人信息类型及其对应的用途，以便您了解小猪针对某一特定功能所收集的具体个人信息的类别、使用理由及收集方式。</p>
				<p><b>2、<u>您同意，当您使用一些功能时，小猪会收集您的一些必要的敏感信息，小猪亦用粗体下划线的方式进行了标示，以此向您增强提示。</u></b>一旦您同意提供您的个人敏感信息，小猪将按本政策所述的目的和方式处理您的个人敏感信息。小猪使用您的个人敏感信息的目的是为了实现小猪的产品与服务相关的功能。<b><u>您有权拒绝向小猪提供个人敏感信息，但是拒绝小猪收集使用这些信息可能会影响您使用相关功能。</u></b></p>
				<p>3、您同意，小猪会在本规则项下约定情形中向第三方共享或转让您的个人信息。</p>
				<p>4、您同意，小猪可能会因业务需要从第三方间接获取您的个人信息。如小猪开展业务需进行的个人信息处理活动超出您原本向第三方提供个人信息时的授权同意范围，小猪将在处理您的该等个人信息前，征得您的明示同意；此外，小猪也将会严格遵守相关法律法规的规定，并要求第三方保障其提供的信息合法性。</p>
				<p>5、您可以通过本规则所列途径访问、更正、删除、撤回您的个人信息，也可以注销帐号或投诉举报。</p>
				<h2>二、适用范围 </h2>
				<p>1、若本协议与不同司法管辖地区法律法规存在冲突，则应当在遵循本协议本意的最大可能范围内遵循可适用的相应司法管辖区的法律法规。</p>
				<p>2、本协议中所规定的内容仅适用于小猪用户。<u><b>如小猪平台的其他协议、规则与本协议存在不一致或矛盾之处请以本协议为准。</b></u></p>
				<h2>三、信息的收集和存储 </h2>
				<p><b>1、小猪收集您个人信息的目的、方式：</b></p>
				<p>（1）当您注册小猪时，小猪会<u><b>收集您的昵称、头像、邮箱或手机号码</b></u>，收集这些信息是为了帮助您完成小猪注册，保护您小猪帐号的安全。<u><b>手机号码属于敏感信息</b></u>，收集此类信息是为了满足相关法律法规的网络实名制要求。若您不提供这类信息，您可能无法正常使用小猪的服务。<b><u>您还可以根据自身需求选择填写出生日期、性别、所在地区、血型、学历、职业信息。</u>此外，<u>您可以选择向小猪提供您的身份证件或护照信息，该信息属于敏感信息，</u></b>拒绝提供该信息仅会使您无法成为小猪房东但不影响您正常使用小猪的其他功能。</p>
				<p>（2）当您使用小猪基础服务时，小猪会收集<b><u>您的设备型号、操作系统、唯一设备标识符、登陆IP地址、小猪软件版本号、接入网络的方式和类型、设备加速器、操作日志信息。</u></b>收集此类信息是为了小猪为您提供更好的服务。</p>
				<p>（3）当您使用搜索功能时，您输入的搜索字段（地标、房源名称、房东昵称）、入住时段、房源筛选条件（价格、出租类型、房源户型、设施服务、入住人数、标签等）信息会存储在小猪的服务器中，小猪会以加密的方式存储。在取得您明示同意的情况下，小猪可能会将上述信息同步给第三方，但根据《个人信息安全保护规范》如信息经处理无法识别特定个人且不能复原的除外。</p>
				<p>（4）当您使用地图功能时，<b><u>小猪会记录您的地理位置信息，目的是为了向您提供该服务。该信息属于敏感信息</u>，</b>小猪会以加密的方式存储，在取得您明示同意的情况下，小猪可能会将上述信息同步给第三方，但根据《个人信息安全保护规范》如信息经处理无法识别特定个人且不能复原的除外。</p>
				<p>（5）当您使用发布房源功能时，<b><u>您上传的房源地址、房源类型、房源照片、房源信息、床铺信息、房源描述、配套设施、交易规则信息会存储在小猪的服务器中，</u></b>因为存储是实现这一功能所必需的。小猪会以加密的方式存储，您也可以随时删除这些信息。</p>
				<p>（6）当您使用站内信（即时通讯）功能时，<b><u>小猪会对您的聊天信息进行加密，并仅收集加密后的信息。上述信息属于敏感信息</u>，</b>小猪将不会将上述信息同步给任何第三方，政府主管部门或司法机关强制要求除外。</p>
				<p>（7）当您使用预订房源功能时，<b>小猪将会<u>收集您的信息包括入住信息</u></b>（入住时间，退房时间，预订数量）、<b><u>房源信息</u></b>（房源名称，出租类型，地址，单日价格，长期预订折扣，平台促销价，押金，额外费用水费电费等其他费用）、<b><u>房东信息</u></b>（房东用户名，手机，邮箱）、<b><u>预订人信息</u></b>（真实姓名、手机、邮箱）、<b><u>房租信息、保险费信息、订单价格信息、优惠券信息、交易规则、交易信息。上述信息属于敏感信息，</u></b> 小猪以加密方式存储，在取得您明示同意的情况下，小猪可能会将上述信息同步给第三方，但根据《个人信息安全保护规范》如信息经处理无法识别特定个人且不能复原的除外。</p>
				<p>（8）当您使用智能门锁功能时，<b><u>小猪会和您选择的门锁服务关联供应商（包括门锁厂家、人脸识别功能技术合作方、第三方支付机构）收集您的信息，包括门禁申请信息（房东姓名、用户名、小猪账号、房源地址）、门锁信息（门锁名称品牌、安装地址、安装日期、质保时间）、门锁状态（电量、通讯状态、使用状态）、使用人信息（包括房客/房东姓名、手机号、申请门锁地址、账号、来源）、门锁数字密码信息、门锁蓝牙钥匙信息、开门历史记录。上述信息属于敏感信息</u>，</b>小猪会以加密方式传输、存储，在取得您明示同意的情况下，小猪可能会将上述信息同步给第三方，但根据《个人信息安全保护规范》如信息过处理无法识别特定个人且不能复原的除外。</p>
				<p>（9）当您使用保洁功能时，<b><u>小猪会收集您的信息包括上门服务订单信息（联系人姓名、联系人电话、是否有智能门锁、房客入住/退房时间、房东姓名、房东电话、房源地址）、保洁订单填写信息（服务时间、服务户型、服务面积、相同房源数量、厨房保洁数量）、保洁订单结算信息（订单金额、额外增加金额、享受折扣、代金券金额、支付方式、退款金额、违约金）、一次性洗漱用品订单信息（一次性洗漱用品填写信息、一次性洗漱用品结算信息）、点评信息、小猪管家服务人员信息。</u></b>小猪会以加密方式存储，<b><u>上述部分信息属于敏感信息，</u></b>在取得您明示同意的情况下，小猪可能会将上述信息同步给第三方，但根据《个人信息安全保护规范》如信息过处理无法识别特定个人且不能复原的除外。</p>
				<p>（10）当您使用收、付款功能时，<b><u>小猪会和您选择的支付方式关联的第三方支付机构（包括支付宝、微信、银联、招商银行等）收集您的第三方账户账号、真实姓名、银行账户信息（开户银行、银行卡类型及卡号、有效期及银行预留手机号、在银行开立账户时填写的其他个人信息），小猪会收集并向第三方支付机构传输如下信息包括您的小猪用户ID、订单金额、订单编号、订单名称。上述信息属于敏感信息，</u></b>小猪与第三方支付机构均会以加密方式传输、存储，在取得您明示同意的情况下，小猪可能会将上述信息同步给第三方，但根据《个人信息安全保护规范》如信息过处理无法识别特定个人且不能复原的除外。</p>
				<p><b>2、无需征得您授权同意可收集、使用您个人信息的情形</b></p>
				<p>根据相关法律法规、监管要求，在以下情形小猪可以在不征得您的授权同意情况下收集、使用一些必要的个人信息：</p>
				<p>（1）与小猪履行法律法规规定的义务相关的；</p>
				<p>（2）与国家安全、国防安全直接相关的；</p>
				<p>（3）与公共安全、公共卫生、重大公共利益直接相关的；</p>
				<p>（4）与犯罪侦查、起诉、审判和判决执行等直接相关的；</p>
				<p>（5）出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</p>
				<p>（6）所涉及的个人信息是您自行向社会公众公开的；</p>
				<p>（7）从合法公开披露的信息中收集到您的个人信息，如从合法的新闻报道、政府信息公开等渠道；</p>
				<p>（8）维护所提供产品或服务的安全稳定运行所必需的，例如发现、处置产品或服务的故障；</p>
				<p>（9）法律法规规定的其他情形。</p>
				<p><b>3、<u>如小猪使用您的个人信息超出了与收集时所声称的目的及具有直接或合理关联的范围，小猪将在使用您的个人信息前，再次向您告知并征得您的明示同意。</u></b></p>
				<p><b>4、从第三方获取您的个人信息</b></p>
				<p>（1）“第三方信息”在本协议项下指是您通过第三方平台注册或登录平台时或使用小猪服务中的第三方服务时，第三方向小猪提供的信息。</p>
				<p>（2）小猪服务中的第三方服务（如地图服务、保险服务、芝麻信用服务）由外部第三方主体提供，小猪会通过合作接口获取必要信息，如：您在使用第三方地理位置服务时，小猪将获取到您的地理位置信息；您在支付时同意接入芝麻信用服务，小猪将获取到您的芝麻信用分数。除必要信息外，小猪将不会从第三方获取其他有关您的非必要信息。但您应当清楚，小猪亦会向第三方传输有关您的部分必要信息用于调取对应信息，如：为了获取您的芝麻信用分数，小猪会向芝麻信用传输您的真实姓名和身份证号。上述信息均属于敏感信息，小猪会取得您明示同意并以加密方式传输。如您拒绝提供该信息可能会使您无法使用上述第三方服务，但不影响您正常使用小猪的功能。</p>
				<p><b>（3）<u>请您特别注意，小猪可能会在法律允许的范围内主动从第三方合作伙伴获取您的个人信息。这些第三方包括旅游类、住宿类、出行类平台。若您不同意接受本款，则您应该立即终止使用所有小猪服务。若您发现小猪从第三方获取到的您的个人信息超出您原本向第三方提供个人信息时的授权同意范围，您应立即向小猪或第三方上报此情况。小猪也将会严格遵守相关律法规的规定，做出妥善处并要求第三方保障其提供的信息的合法性。</u></b></p>
				<h2>四、个人信息的存储</h2>
				<p><b><u>小猪将对您的全部个人信息储存于中华人民共和国境内，且对您的个人信息存储不少于三年</u>。</b>如果您对于存储期限有特别要求或监管机关要求最长存储期限的，我们将在保证个人信息安全的前提下，遵守您或监管机关的要求，按照合法方式处理超期存储的个人信息。</p>
				<h2>五、个人信息的出境</h2>
				<p>小猪在中华人民共和国境内收集和产生的个人信息，将存储在中华人民共和国境内。但由于小猪通过遍及全球的资源和服务器提供服务，这意味着，在获得您的授权同意后，您的个人信息可能会被转移到您使用服务所在国家/地区的境外管辖区，或者受到自这些管辖区的访问，小猪将确保您的个人信息得到在中华人民共和国境内足够的保护。</p>
				<h2>六、关于小猪使用Cookie技术</h2>
				<p>当您使用网页版小猪服务或APP时，小猪向您的设备发送一个或多个Cookies或匿名标识符，网站或APP能够存储您的偏好、位置数据，会帮助您在后续访问时调用信息，简化记录您填写个人信息的流程。<b><u>您有权接受或拒绝，如果您不愿意接受Cookies，请您将网络浏览器或APP设置为关闭接受Cookies。但如果您这么做，则需要在每一次访问我们的网站或APP时更改用户设置。请注意，当Cookies被禁用时，您可能会无法完全体验小猪的服务。</u></b></p>
				<h2>七、个人信息的使用</h2>
				<p>一般来说，小猪出于以下目的使用您的个人信息：</p>
				<p>1、<b>向您提供服务：</b>小猪使用您的个人数据完成对您的服务。</p>
				<p>2、<b>帐号管理：</b>您可以通过小猪创建帐号，小猪将使用您所提供的信息来管理您的帐号，并为您提供一系列的实用功能，您可以使用您的帐号进行多种操作，如管理订单、调整个人设置、查看历史订单信息、订单评价、支付管理等。</p>
				<p>3、<b>答复您的问询和请求：</b>小猪提供7*24小时的客户服务，以便在您需要的时候提供帮助。</p>
				<p>4、<b>营销活动：</b>小猪也会使用您的信息进行正当合法的营销活动，如向您发送相关的产品或者服务的最新消息、向您提供您可能感兴趣的个性化推荐及其他推广活动信息。</p>
				<p>5、<b>与您联系：</b>回复及处理您所提出的疑问或要求、发送与订单相关的信息（如订单提交成功提示、未完成订单的提醒您继续等）、小猪也可能会向您发送问卷调查或邀请您对小猪的服务提供反馈等。</p>
				<p>6、<b>市场调研：</b>小猪有时会邀请您参与市场调查，以衡量您对小猪的产品、服务和网站的兴趣。</p>
				<p>7、<b>提升服务的安全性和可靠性：</b>小猪可能会检测和预防欺诈行为、不法活动，将您的个人数据用于风险评估和安全目的。</p>
				<p>8、<b>数据分析：</b>小猪可能将您的订单数据用于分析，从而形成用户画像，以便让我们能够了解您所在的位置、偏好和人口统计信息，或与其他来源（包括第三方）的数据相匹配，从而开发我们的产品、服务或营销计划，改进我们的服务。</p>
				<p>9、<b>控制信用风险：</b>为了确保交易安全和控制信用风险，小猪及关联公司、业务合作伙伴可能对用户信息进行数据分析，并对上述分析结果进行商业利用。</p>
				<p>10、<b>日常运营：</b>包括但不限于订单管理、客户验证、技术支持、网络维护、故障排除、内部行政事务及内部政策和程序、生成内部报告等。</p>
				<p>11、<b>电话监测：</b>您接听和拨打小猪的客服电话可能会被录音，小猪可能会使用通话录音来监控我们的客服服务质量，检查您所提供的信息的准确性以防止欺诈，或为了小猪内部人员培训的目的。录音在被保留一段时间后会自动删除，除非由于合规要求或合法利益需要为场景的保留。</p>
				<p>12、<b>履行义务：</b>处理相关政策下发生的保险索赔和付款，处理支付给合作伙伴的佣金或对服务合作伙伴造成的损失提起索赔或收回付款等。</p>
				<p>13、<b>法律目的：</b>小猪可能需要使用您的信息来处理和解决法律纠纷，或遵循对小猪具有约束力的任何法律法规或监管机构颁发的文件规定，以配合国家部门或监管机构调查和遵从法律法规的目的。</p>
				<h2>八、个人信息的共享、转让、公开披露</h2>
				<p><b>1、共享</b></p>
				<p>为了向您提供更完善、优质的产品和服务，小猪所提供的产品和服务中某些模块或功能可能由授权合作的第三方合作伙伴提供 ，小猪可能会向合作伙伴共享您的某些个人信息，以保障为您提供更好的客户服务和用户体验。小猪仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，并且只会共享提供服务所必要的个人信息。但无论何种第三方合作伙伴，小猪都会要求其按照不低于本《隐私政策》及适当的保密和安全措施来处理您的个人信息，请您在使用第三方合作伙伴服务或功能时，务必仔细阅读第三方合作伙伴的《隐私政策》，如您不同意第三方合作伙伴的《隐私政策》，可以停止使用第三方的功能或服务，但同时您可能无法使用小猪为您提供的产品或服务。
					目前，<b><u>与小猪合作的第三方合作伙伴主要有以下几种类型：</u></b></p>
				<p>（1) <b>商品或技术服务的供应商：</b>包括为了满足您预订需求的酒店、房东,实现我们服务的功能。</p>
				<p>（2）<b>金融机构和第三方支付机构：</b>当您预订订单、申请退款、购买保险时，小猪会与金融机构或第三方支付机构共享特定的订单信息，以保证完成支付。</p>
				<p>（3）<b>业务合作伙伴：</b>小猪可能与合作伙伴一起为您提供产品或者服务，包括通讯服务、客户服务、市场推广、广告投放、技术服务、实名认证服务、咨询服务等，以实现我们产品或服务的核心功能。</p>
				<p>（4）<b>关联公司：</b>小猪可能会与小猪的关联公司共享您的个人信息，使小猪能够向您提供与旅行相关的或者其他产品及服务的信息，他们会采取不低于本隐私政策同等严格的保护措施。所谓关联公司是指一方控制、共同控制另一方或对另一方施加重大影响，以及两方或两方以上同受一方控制、共同控制或重大影响的任何企业、组织或实体。“控制”是指有权直接或间接地决定一个企业的财务和经营政策，并能据以从该企业的经营活动中获取利益，无论是通过所有权、有投票权的股份、合同或其他被人民法院认定的方式。</p>
				<p>如果您拒绝我们的合作伙伴在提供服务时收集为提供服务所必须的个人信息，将可能导致您无法使用小猪通过该合作方提供的产品与服务。</p>
				<p><b>（5）纠纷处理</b></p>
				<p> 当您在使用小猪服务的过程中，与其它第三方发生纠纷、投诉或被投诉时，为了保护您和其他主体的合法权益，维护良好的交易秩序和交易环境，我们会基于有关部门的要求将您的姓名、有效身份证件号码、联系方式、纠纷内容提供给消费者权益保护部门及监管部门，以便及时处理纠纷，但法律法规明确禁止提供的除外。</p>
				<p>2、禁止转让</p>
				<p><b>小猪不会将您的个人信息转让给任何公司、组织或个人，但以下情况除外：</b></p>
				<p>（1）事先获得您的明确同意；</p>
				<p>（2）履行法律法规规定的义务相关的；</p>
				<p>（3）与国家安全、国防安全直接相关的，与公共安全、公共卫生、重大公共利益直接相关的；</p>
				<p>（4）与犯罪侦查、起诉、审判和判决执行等直接相关的；</p>
				<p>（5）出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人授权同意的；</p>
				<p>（6）您自行公开的或者小猪能从其他合法公开渠道获取到您的个人信息；</p>
				<p>（7）如发生合并、收购或破产清算，将可能涉及到个人信息转让，小猪会要求新的持有您个人信息的公司、组织继续受本隐私政策的约束，否则,小猪将要求该公司、组织重新向您征求授权同意。</p>
				<p><b>3、公开披露信息</b></p>
				<p>小猪仅会在以下情形，公开披露您的个人信息：</p>
				<p>（1）获取您的明确同意，小猪会公开披露您所指定的个人信息。</p>
				<p>（2）基于法律、法律程序、诉讼或政府主管部门强制性要求的情况下，为了保护国家安全、公共安全以及您和其他个人的重大合法权益，小猪可能会向有权机关或公众披露您的个人信息。但小猪保证，在上述况发生时，小猪会要求披露请求方必须出具与之相应的有效法律文件，并对被披露的信息采取符合法律和行业标准的安全防护措施。</p>
				<h2>九、用户个人信息权益</h2>
				<p>在您使用小猪期间，小猪保证您访问、更正、删除、撤回您的个人信息及注销帐号的权利，您可以按照下面的规则进行操作。</p>
				<p><b>（1）访问您的个人信息</b></p>
				<p>若您注册/登录成功后，进入产品主界面。房客在PC端或App端点击“我”进入“我的资料”，访问或编辑账户基本信息包括常用入住人、收货地址、开具发票等。房东点击“我”进入“我的资料”，访问或编辑基本信息如收款设置、收货地址、开具发票等。</p>
				<p><b>（2）删除您的个人信息</b></p>
				<p>若您注册/登录成功后，进入产品主界面，在PC端或App端点击“我”进入“我的资料”，进行删除个人信息操作。</p>
				<p>在以下情形中，您可以向我们提出删除个人信息的请求： </p>
				<p>①如果我们处理个人信息的行为违反法律法规； </p>
				<p>②如果我们收集、使用您的个人信息，却未征得您的同意； </p>
				<p>③如果我们处理您的个人信息的行为违反了与您的约定； </p>
				<p>④如果您不再使用我们的产品与服务，或您注销了账号； </p>
				<p>⑤如果我们不再为您提供我们的产品与服务。</p>
				<p><b>（3）更正个人信息</b></p>
				<p>若您注册/登录成功后，进入产品主面，在PC端或App端点击“我”进入“我的资料”，进行更正个人信息操作。</p>
				<p><b>（4）注销帐号</b></p>
				<p>您可通过拨打小猪官网公布的客服电话(400-010-7890)，根据语音提示转至客服人工服务，经身份验证后完成账号的注销或在小猪app 我的--账户--注销账号操作进行注销。注销小猪账号后，您在该账户内的所有信息将被清空，小猪将不会再收集、使用或共享与该账户相关的个人信息，但您同意并确认在此之前已经获取记录的关于您的信息小猪仍将按照网络安全有关部门的监管要求的进行适当留存自交易完成之日起不少于三年。</p>
				<p><b>（5）撤回您的授权</b></p>
				<p>您可以通过删除信息、关闭设备功能、在小猪网站或APP中进行权限设置等方式撤回您的授权。您也可以通过注销账户的方式，撤回小猪继续收集您个人信息的全部授权。</p>
				<h2>十、个人信息的安全及保护</h2>
				<p>1、小猪非常重视您的个人信息安全，将对您所提供的信息采取数据加密技术、匿名化处理手段来保护您的个人信息。采用相应的恶意代码防范等安全技术和程序防止您的个人信息丢失、被盗用或遭篡改，并且保护您的个人信息不被未经授权者访问、使用或泄漏。</p>
				<p>2、小猪建立了专门的管理流程和组织以保障个人信息的安全。小猪严格限制访问信息的人员范围，要求访问信息的人员遵守严格的保密义务，一旦发生个人信息泄露等安全事件，小猪会启动应急预案，阻止安全事件扩大，并以推送通知、公告等形式告知您。</p>
				<h2>十一、本隐私政策的修订更新</h2>
				<p>请您理解，小猪可能在必要时对本政策进行修订，<b><u>小猪将标注本隐私政策最近更新的日期及生效日期。</u></b>但未经您同意，小猪不会削减您在本隐私政策中应享有的权利，<b><u>当本政策的条款发生变更时，小猪会以电子邮件、信函、电话、短信、公告、推送通知、弹窗或其它适当的形式通知您，请您务必注意查看。</u></b></p>
			    <h2>十二、如何进行未成年人保护</h2>
				<p><b><u>小猪非常重视对未成年人个人信息的保护。根据相关法律法规的规定，若您是18周岁以下的未成年人，在使用小猪服务前，应事先取得您的家长或法定监护人的书面同意且小猪只会在受到法律允许、未成年人监护人明确同意或保护未成年人所必要的情况下收集、使用或公开披露此信息。</u></b></p>
				<h2>十三、如何联系小猪</h2>
				<p>1、 如您对本隐私政策有任何疑问、意见、建议或投诉事宜，请通过以下方式与我们联系：</p>
				<p>客服电话：400 010 7890；客服邮箱：srvice@xiaozhu.com。</p>
				<p>2、请在您的投诉中至少写明如下内容：</p>
				<p>（1）您的小猪账户、姓名（名称）、联系方式和地址；</p>
				<p>（2）您的具体投诉请求及期望获得的结果；</p>
				<p>（3）证明小猪对相关个人信息处理不合理或不合法的证据。</p>
				<p>3、  一般情况下，我们将在15个工作日内回复，如果您不满小猪对投诉的处理，或者小猪没有在合理的时间内回复您，则有权根据适用法律向有关监管机构进行投诉或举报。但由于上述信息的真实性、有效性和完整性存在瑕疵，可能会导致小猪无法及时予以处理，您免于向小猪追究您因上述情况而遭受的损失。</p>
			</div>
			<div class="about_R">
    <dl class="about_sider">
        <dt>网站介绍</dt>
        <dd><a href="aboutusaboutus.html.html">&middot; &nbsp;关于我们</a></dd>
        <dd><a href="contactuscontactus.html.html">&middot; &nbsp;联系我们</a></dd>
        <dd><a href="sitemapsitemap.html.html">&middot; &nbsp;网站地图</a></dd>
        <dd><a href="javascript:;">&middot; &nbsp;友情链接</a></dd>
    </dl>
    <dl class="about_sider">
        <dt>法律协议</dt>
        <dd class="current_about"><a href="">&middot; &nbsp;隐私保护声明</a></dd>
        <dd><a href="copyrightcopyright.html.html">&middot; &nbsp;版权声明</a></dd>
        <dd><a href="serviceservice.html.html">&middot; &nbsp;服务协议</a></dd>
        <dd><a href="disclaimerdisclaimer.html.html">&middot; &nbsp;免责声明</a></dd>
        <dd><a href="intellectualpropertyintellectualproperty.html.html">&middot; &nbsp;知识产权声明</a></dd>
        <dd><a href="javascript:;">&middot; &nbsp;委托服务协议</a></dd>
        <dd><a href="japanreservationrulejapanreservationrule.html.html">&middot; &nbsp;日本标准住宅宿泊仲介业约款</a></dd>
    </dl>
    <dl class="about_sider">
        <dt>服务规则</dt>
        <dd><a href="landlordrulelandlordrule.html.html">&middot; &nbsp;房东规则</a></dd>
        <dd><a href="tenantruletenantrule.html.html">&middot; &nbsp;房客规则</a></dd>
        <dd><a href="auditruleauditrule.html.html">&middot; &nbsp;房源上线标准</a></dd>
        <dd><a href="commentrulecommentrule.html.html">&middot; &nbsp;点评发布规则</a></dd>
                                <dd><a href="javascript:;">&middot; &nbsp;未成年人入住规则</a></dd>
    </dl>
</div>		</div>
		 
<div class="foot_v2">
        <ul class="foot_ul">
        <li><a class="guide" href="xzweb-help_userguide_tenantxzweb-help_userguide_tenant.html.html" target="_blank">房客指南</a></li>
        <li><a class="guide icon_fk" href="xzweb-help_userguide_landlordxzweb-help_userguide_landlord.html.html" target="_blank">房东指南</a></li>
        <li>
            <span class="guide_T">关于我们</span>
            <a href="aboutusaboutus.html.html" target="_blank">关于小猪</a>
            <a href="javascript:;" target="_blank">加入我们</a>
            <a href="contactuscontactus.html.html" target="_blank">联系我们</a>
        </li>
        <li>
            <span class="guide_T">网站帮助</span>
            <a href="indexindex5.html.html" target="_blank">帮助中心</a>
            <a href="sitemapsitemap.html.html" target="_blank">网站地图</a> 
        </li>
        <li class="width_280">
            <span class="guide_T">网站协议</span><br>
            <a href="serviceservice.html.html" target="_blank">服务协议</a> 
            <a href="landlordrulelandlordrule.html.html" target="_blank">房东规则</a>
            <a href="tenantruletenantrule.html.html" target="_blank">房客规则</a>
            <a href="auditruleauditrule.html.html" target="_blank">房源上线标准</a>
            <a href="" target="_blank">隐私保护</a>
            <a href="copyrightcopyright.html.html" target="_blank">版权声明</a>
            <a href="disclaimerdisclaimer.html.html" target="_blank">免责声明</a>
            <a href="intellectualpropertyintellectualproperty.html.html" target="_blank">知识产权声明</a>
            <a href="commentrulecommentrule.html.html" target="_blank">点评发布规则</a>
            <a href="japanreservationrulejapanreservationrule.html.html" target="_blank">日本标准住宅宿泊仲介业约款</a>
        </li>
        <li class="bigFont online_kf">
            <span class="logindialog"><i></i>在线客服</span>
            <p>客服电话  400 - 010 - 7890</p>
            <p>客服邮箱  service@xiaozhu.com</p>
        </li>
            </ul>
                <div class="foot_btm">京ICP备12035936号-1 &nbsp;&nbsp;许可证号：京ICP证140510号 &nbsp;&nbsp; <a href="javascript:;" |="" name="mt8SMvYyRDI92b06nuDs8dPFapllCJYidqhM1WlOoGRZ9DWpbo" rel="nofollow" target="_blank">安全联盟</a> &nbsp;&nbsp; 北京快跑信息科技有限公司 &nbsp;&nbsp; <a href="files/yingyeyingye.jpg.jpg" |="" name="yingyezhizhao" rel="nofollow" target="_blank">营业执照号 103613118</a> <span style="display:none">  &nbsp;&nbsp; 地址：北京市海淀区知春路56号   &nbsp;&nbsp;电话：010-62961978</span>
    </div>
    <div style="margin:0 auto;color:#bdc3c7;">
        <a target="_blank" href="javascript:;" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="static/picture/govRecord_icon.png"><p style="display:inline-block;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#bdc3c7;">京公网安备 11010802020380号</p></a>
        &nbsp;&nbsp; 违法和不良信息举报电话：4000107890转6  &nbsp;&nbsp; 举报邮箱：jubao@xiaozhu.com
    </div>
</div>

<input type="hidden" name="actionName" id="actionName" value="Help_privacy">
<input type="hidden" name="xz_srf_token" id="xz_srf_token" value="2982b726deea1617eb82514eb68e4f6d">

<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/xzjs-Footer_www.xiaozhu.com.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/xzcss-jquery.mCustomScrollbarnyrxzcss-jquery.mCustomScrollbarnyr.css.css">
<script type="text/javascript" src="static/js/lazyload.js"></script>
<script type="text/javascript" src="static/js/xzim4-xiaozhu_xiaozhu.com.js" id="webimSource"></script>

<script type="text/javascript" src="static/js/xzjs-FangDong_Header_www.xiaozhu1.js"></script>
		<script type="text/javascript" src="static/js/xzjs-Help_privacy_www.xiaozhu.co.js"></script>
	</body>
	<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
</html>