<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引入layui的js、css-->
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" />
    <script src="../layui/layui.all.js"></script>
    <!--引入jquery-->
    <script src="../layui/jquery.min.js"></script>
    <!--引入vue-->
    <script src="../vue/vue.js"></script>
</head>
<body>
<div class="layui-collapse" lay-accordion>
    <div class="layui-side">

        <div style="size: 5px" class="layui-side-scroll layui-bg-white" >
            <div  id="menu-centre" lay-filter="test"></div>
        </div>

    </div>
</div>

<div class="layui-body">
    <div class="layui-tab" lay-filter="tabs" lay-allowClose="true" >
        <ul class="layui-tab-title">

        </ul>
        <div class="layui-tab-content">

        </div>
    </div>
</div>

<script>
    layui.use(['tree','jquery','element'],function () {

        var element = layui.element;
        var $ = layui.jquery;
        var tree = layui.tree;
        $.ajax({
            url:'../img/queryCentreListMenu',
            success:function (data) {
                tree.render({
                    edit:false,//开启图标
                    showLine:false,//是否开启连接线
                    accordion:false,//是否开启手风琴
                    skin: 'sidebar',
                    nodes: data,
                    elem: '#menu-centre', //绑定标签元素
                    data:data, //加载菜单数据
                    click: function(data){

                        var node = data.data;

                        var exist=$("li[lay-id='"+node.id+"']").length;
                        if (exist > 0) {//判断是否已经打开选项卡
                            element.tabChange('tabs', node.id);// 切换到已有的选项卡
                        } else {//如果没打开就新建一个选项卡
                            if (node.href != null && node.href != "") {
                                element.tabAdd('tabs', {
                                    title: node.title,
                                    content:createIframe(node.href),
                                    id: node.id
                                });
                                element.tabChange('tabs', node.id);
                            }
                        }
                    }

                })
            }
        })

        function createIframe(url){
            return '<iframe src="'+url+'" style="width:100%;height:500px;" frameborder="0" ></iframe>'
        }

    })

</script>
</body>
</html>