<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-title" content="小猪">
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="短租,日租,租房,家庭公寓,自助公寓,家庭旅馆,旅游,旅租,小猪">
<meta name="description" content="小猪，是超便宜、最可信、有保障的短租日租在线交易平台。您可以用50元的价格感受经济酒店般的入住，或用200元的价格享受高星级酒店同等的待遇。">


<title>小猪</title>    <link rel="stylesheet" type="text/css" href="static/css/xzcss-zhonganfkoutinsurancexzcss-zhonganfkoutinsurance.css.css">
</head>
<body>
<div class="content">
    <div class="conter_wrap">
        <h3 class="center need_color">小猪短租境外旅行保险产品</h3>
        <h3 class="center need_color">投保须知</h3>
    </div>
    <div class="conter_wrap ">
        <p>1.投保人需为18周岁以上；</p>
        <p>2.被保险人需为通过平台下单境外房源，并支付房费的租客，且拥有中华人民共和国国籍，并在中华人民共和国境内（西藏、港、澳、台地区除外）有正式居住场所；</p>
        <p>3.被保险人年龄限制：2周岁（含）至80周岁（含）；</p>
        <p>4.本保险产品71周岁至80周岁的被保险人，其“意外身故及伤残”保险责任的保险金额为保单所载金额的一半；</p>
        <p>5.本保险产品受益人为法定受益人，若保单投保成功后需修改，请致电本公司客服热线进行申请，在投保人及被保险人提供必要的资料后，本公司将为您处理；</p>
        <p>6.本保险产品的保险人为众安在线财产保险股份有限公司（以下简称“众安保险”或“本公司”）；</p>
        <p>7.<b>本保险产品一旦生效，本公司不接受退保；</b></p>
        <p>8.本保险产品承担保险责任的保险期间为被保险人当次在平台上的订单中约定的入住时间起（但最早不得早于被保险人预定入住当天的零时）至约定的退房时间止，但最长不超过182天，具体以保险单上载明的起讫时间为准；</p>
        <p>9.任何年龄未满10周岁的被保险人，如果其以死亡为给付责任的保险金额（包括在所有商业保险公司所购买的保险）超出中国保监会所规定的限额（人民币20万元，航空意外死亡保险金不受此限）；任何年龄已满10周岁但未满18周岁的被保险人，如果其以死亡为给付责任的保险金额（包括在所有商业保险公司所购买的保险）超出中国保监会所规定的限额（人民币50万元，航空意外死亡保险金不受此限），保险公司就超出限额部分不承担保险金给付责任；</p>
        <p>10.人身保险伤残评定标准按照中国保险行业协会发布的人身保险伤残程度评定与保险金给付比例标准，详见《关于印发&lt;人身保险伤残评定标准&gt;的通知》（中保协发【2013】88号）；</p>
        <p>11.<b>本保险产品承保高风险运动，包括但不限于潜水，滑水，滑雪，滑冰，驾驶或乘坐滑翔翼、滑翔伞，跳伞，攀岩运动，探险活动，武术比赛，摔跤比赛，柔道，空手道，跆拳道，马术，拳击，特技表演，驾驶卡丁车，赛马，赛车，各种车辆表演、蹦极；</b></p>
        <p>12.投保时，本人已就该产品的保障内容以及保险金额向被保险人进行了明确说明，并征得其同意；</p>
        <p>13.<b> 本保险产品不承保前往处于战争状态或已被宣布为紧急状态的国家或地区，除非本合同另有约定</b></p>
        <p>14.请于出发前一天购买保险，不接受当天投保。本保险不承保在投保本保障计划时已开始旅程或已置身于旅行目的地的任何被保险人；</p>
        <p>15.本保险产品提供中英文互译电子保单，若电子保单的中文、英文约定不一致的，以中文约定为准；</p>
        <p>16.确认购买本保险产品前，请您仔细阅读并充分理解并同意接受本《保险须知》和《保险条款》等，特别是其中有关责任条款及免除责任条款、退保规则、投保人和被保险人义务的内容等重大事项；</p>
        <p><b>17.主要责任免除（更多责任免除请见保险条款）：</b></p>
        <p><b>（1）战争、军事行动、武装叛乱或暴乱期间；</b></p>
        <p><b>（2）被保险人从事违法、犯罪活动期间或被依法拘留、服刑、在逃期间；</b></p>
        <p><b>（3）被保险人存在精神和行为障碍（以世界卫生组织颁布的《疾病和有关健康问题的国际统计分类（ICD-10）》为准）期间。</b></p>
        <p>18.本保险产品为您提供电子保单及电子发票，根据《中华人民共和国合同法》第十一条规定，数据电文是合法的合同的表现形式。投保成功后，您将接受到投保短信告知电子保单号，您也可以通过众安保险官网：www.zhongan.com 查询和下载电子保单及电子发票；</p>
        <p>19.本人同意已经告知被保险人并征得其同意，众安保险可为本保险的目的收集被保险人个人资料（该资料不论是从投保页面上或其他地方所获取）并授权可由众安保险或任何与众安保险有关的机构或其他人士（不论在中国或境外）持有，转告，及用于（1）处理及审核此投保或其他保险事宜（2）提供与该保险有关之服务，及（3）与本人联络的用途。众安保险或任何与众安保险有关的机构或其他人士对上述信息负有保密义务；</p>
        <p>20.众安保险客服热线：1010-9955或400-999-9595；众安保险投诉热线：021-80399188；众安保险官网：<a href="javascript:;">www.zhongan.com</a>。</p>
    </div>
    <div class="conter_wrap ">
        <p><b>重要通告</b></p>
        <p>本产品报备文件编号为：（众安备-意外【2015】主25号）</p>
    </div>
    <div class="conter_wrap ">
        <p><b>理赔服务</b></p>
        <p>发生保险事故后，众安保险将为您提供7*24小时理赔申请服务；</p>
        <p>您也可以参照以下流程申请理赔：</p>
        <p>1.拨打众安客服热线【1010-9955】或【400-999-9595】</p>
        <p>2.准备证明保险事故的相关材料</p>
        <p>3.理赔材料提供方式：寄送</p>
        <p>4.确属保险责任范围，众安保险在赔付协议达成后10天内理赔</p>
        <p>5.赔款资金将支付至被保险人账户或受益人账户。</p>
        <p>同时请您了解，在投保本产品前您应履行相应的如实告知义务，具体如下：
            投保人或被保险人应如实填写投保信息，并就保险公司提出的询问据实告知,否则保险公司有权根据《中华人民共和国保险法》第十六条的规定解除保险合同且不承担赔偿责任：订立保险合同时，保险公司就保险标的或者被保险人的有关情况提出询问的，投保人应当如实告知。投保人故意或者因重大过失未履行前款规定的如实告知义务，足以影响保险公司决定是否同意承保或者提高保险费率的，保险公司有权解除合同。投保人故意不履行如实告知义务的，保险公司对于合同解除前发生的保险事故，不承担赔偿责任，并不退还保险费。投保人因重大过失未履行如实告知义务，对保险事故的发生有严重影响的，保险公司对于合同解除前发生的保险事故，不承担赔偿责任，但退还保险费。</p>
        <p>我们严格遵守现行的关于个人信息、数据及隐私保护的法律法规，采取充分的技术手段和制度管理，保护您提供给我们的个人信息、数据和隐私不受到非法的泄露给未获授权的第三方。</p>
        <p>您在购买产品过程中，如发现本公司有关人员有违法、违规行为，或认为自身权益受到侵犯，请您保留相关证据并向本公司投诉，投诉电话：1010-9955。</p>
        <p>众安在线财产保险股份有限公司综合偿付能力充足率达到监管要求，且风险综合评级提示操作、战略、声誉和流动风险较小，具体偿付能力指标和风险综合评级结果请查询众安保险官网：<a href="javascript:;">www.zhongan.com</a>。</p>
    </div>
    <div class="conter_wrap ">
        <p><b>重要提示</b></p>
        <p>您确认各项投保内容填写属实，您确认已征得被保险人同意并认可保险金额。</p>
    </div>
</div>
</body>
</html>