<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
       
                 
        
                            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="房客指南，小猪指南，小猪，小猪短租">
<meta name="description" content="分享自己闲置的房屋或房间，既能赚钱、还能结识新朋友旅行时选择当地人家，不仅价格实惠，而且充满了人情味数以百万计的房东、房客通过小猪相识并成为朋友分享与信任，让这一切正在发生">


<title>【居住自由主义】房客指南-小猪</title>	   
        <link rel="stylesheet" type="text/css" href="static/css/xzcss-baseheaderfooterregisterabxzcss-baseheaderfooterregisterab.css.css">
            </head>

    <body>
         
<!--[if lte IE 7]>
<div style="background:#f16b80;  width:100%; height:50px; line-height:50px; text-align:center; font-size:14px; color:#fff; font-family:"微软雅黑";>
    温馨提示：您目前的浏览器版本过低，网站部分功能无法正常使用，建议尽快升级：
        <a href="http://www.microsoft.com/china/windows/IE/upgrade/index.aspx" name="升级ie浏览器" id="upgrade_ie" target="_blank" style=" display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/images/ie.jpg" width="154" height="40"/></a>
             或安装
        <a href="http://www.firefox.com.cn" target="_blank" name="升级火狐浏览器" id="upgrade_firefox" style="display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/images/firefox.jpg" width="154" height="40"/></a>
</div>
<![endif]-->

<link rel="stylesheet" type="text/css" href="static/css/xzcss-houseHoverrealNamePopjquerxzcss-houseHoverrealNamePopjquer.css.css">
<div class="o_mask" id='maskName' style="display:none;"></div>
<div class="detail_wrapper">
    <div class="detail_head clearfix">
        <a href="indexindex.html.html" class="xz_logo_detail">小猪</a><span class="slogan_v2 slogan_black"></span>
        <ul class="nav_R nav_commen">
                        <li><a rel="nofollow" title="" class="show-register-box" href="javascript:;">注册</a></li>
            <li>&middot;</li>
            <li><a rel="nofollow" class="logindialog" href="javascript:;">登录</a></li>
            <li>&middot;</li>
                        <li class="current">
                <a href="#ongo" class="openTri_R">短租指南</a>
                <div class="head_pop width_58 top40">
                    <div class="pop_column">
                        <span><a class="fl" href="">房客指南</a><a class="fr" href="xzweb-help_userguide_landlordxzweb-help_userguide_landlord.html.html">房东指南</a></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#ongo" class="icon_iphone">手机小猪</a>
                  <div class="head_pop w_120 top40">
                   <div><img src="static/picture/code_pic.png" alt="小猪" title="小猪"></div>
                   <a href="fkfk.html.html" target="_blank">了解更多</a>
              </div>
            </li>
            <li class="current header_current_last">
              <a href="#ongo" class="openTri_R marginR10">去小程序领950元礼券</a>
              <div class="head_pop top40 head_applet">
                <p>微信扫码去领券</p>
                <div><img class="qrcode" src="static/picture/pcheader.jpg" alt="小猪" title="小猪"></div>
                </div>
            </li>
                        <li><a rel="nofollow" data-href="http://www.xiaozhu.com/publish" class="btn_free show-register-box" id="Pub_Btn">免费发布房源</a></li>
                    </ul>
    </div>
    <div id="userlogindialog" class="login_register_box" style="display:none;">
    <div class="w_698"> 
        <div class="r_colsed" id="closeUserLoginDialog"><span></span></div>
        <div class="clearfix">
            <div class="r_main_l">
                <ul class="r_tab clearfix">
                    <li class="percent_50 tc cur underL1" id="generalLi">普通登录</li>
                    <li class="percent_50 tc cur" id="mobileLi">短信快捷登录</li>
                </ul>
                <div id="generalLogin">
                    <ul class="register_list">
                        <li>
                            <div class="h_30">&nbsp;</div>
                            <div class="pr">
                                <div class="r_tel_ico"></div>
                                <input type="text" class="r_input_small" id="input-username" autocomplete="off" placeholder="手机号、邮箱" disabled="true">
    </div></li>
                        <li>
                            <div class="h_30"><div class="r_error_tip" id="input-username-tip"><span class="icon-wrong" id=""></span>手机号未注册</div></div>
                            <div class="pr">
                                <div class="r_password_ico"></div>
                                <input type="password" class="r_input_1" id="password" autocomplete="off" placeholder="密码" disabled="true">
                                <div class="h_30">
                                    <div class="r_error_tip" id="password-tip"><span class="ipt-text-pass"></span></div>
                                </div>
                            </div>
                        </li>
                        <span style="display:none" id="verify-show">
                        <li>
                        </li>
                        </span>
                        <li>
                            <div id="safeCheck2"></div>
                            <p id="input-slidecode-tip2" class="r_error_tip input-slidecode-tip" style="margin-bottom: 10px">请进行验证</p>
                        </li>
                    </ul>
                    <a href="###" class="r_input mt_10" id="orgBtn">登录</a>
                    <div class="r_login_space clearfix"><span class="fl cur "><input class="ipt-checkbox2" type="checkbox" id="setcookie" checked="checked">自动登录</span>
                    <span class="fr col_gray"><a href="findpwdbyphonefindpwdbyphone.html.html">忘记密码?</a></span></div>
                </div>
                <div id="mobileLogin" style="display:none">
                    <ul class="register_list">
                        <li>
                            <div class="h_30">&nbsp;</div>
                            <div class="pr">
                                <div class="r_telepho_ico"></div>
                                <input type="text" class="r_input_1" id="quick-input-mobile" autocomplete="off" placeholder="手机号" disabled="true">
                            </div>
                        </li>
                        <li>
                            <div class="h_30">
                                <div class="r_error_tip" id="quick-input-mobile-tip"><span class="icon-ok"></span></div>
                            </div>
                        </li>
                        <li>
                            <div id="safeCheck3"></div>
                            <p id="input-slidecode-tip3" class="r_error_tip input-slidecode-tip" style="margin-bottom: 10px">请进行验证</p>
                        </li>
                        <li>
                            <div class="pr">
                                <div class="r_vali_ico"></div>
                                <input type="text" class="r_input_small" id="quick-activate-code" autocomplete="off" placeholder="动态验证码" disabled="true">
                                <span class="btn have-nb" id="quick-get-code-btn">获取动态验证码</span>    
                                <div class="h_30">
                                    <div class="r_error_tip" id="quick-activate-code-tip"><span class="icon-ok"></span></div> 
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="###" class="r_input mt_10" id="orgBtnMobile">登录</a>
                    <p class="mt_10 mt_20">＊验证即登录，未注册将自动创建小猪账号</p>
                </div>
            </div>
            <div class="r_main_r">
                <h5>合作网站账户登录</h5>
<ul class="r_wedsitev1">
    <li>
    <a class="hz_qqv1" href="javascript:;"><i></i>QQ登录</a>
    </li>
    <li>
    <a class="hz_weibov1" href="javascript:;"><i></i>微博登录</a>
    </li>
    <li>
    <a class="hz_weixinv1" href="javascript:;"><i></i>微信登录</a>
    </li>
</ul>                <p>还没有注册？<a href="#" class="col_pink show-register-box">注册账号&gt;&gt;</a></p>
            </div>
            <div class="r_main_r r_main_qrcode_box">
              <div class="inner-box">
                <img class="applet-qrcode" src="static/picture/loginCode.png" alt="">
                <span class="text-box">
                  <span>微信扫码领950元</span>
                  <span>无需下载APP</span>
                </span>
              </div>
            </div>
        </div>
    </div>
</div>
<div id="mobilePerfeactInfoDialog" style="display:none;">
    <div class="w_400"> 
        <div class="perfeact-info-content" style="display:none;">
            <div class="r_colsed" id="mobilePerfeactInfoBtn"><span></span></div>
        <div class="r_top_logo">
            <p>首次登录，请完善资料后，开启小猪住宿之旅！</p>
        </div>
        <ul class="register_list">
            <li>
                <div class="h_30">
                    <p class="r_error_tip" style="display:none;"></p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_tel_ico"></div>
                    <input id="quick-input-username" type="text" placeholder="用户名" autocomplete="off" class="r_input_1">
                </div>
            </li>
            <li>
                <div class="h_30">
                    <p class="r_error_tip" id="quick-input-username-tip">请输入用户名</p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_password_ico"></div>
                    <input type="password" id="quick-regpassword" autocomplete="off" placeholder="密码" class="r_input_1">
                </div>
            </li>
            <li>
                <div class="h_30">
                    <p class="r_error_tip" id="quick-regpassword-tip">请输入密码</p>&nbsp;
                </div>
                <div class="pr">
                    <div class="r_num_ico"></div>
                    <input id="quick-invitecode" type="text" autocomplete="off" placeholder="邀请码(选填)" class="r_input_1">
                </div>
                <div class="h_30" style="display:none;">
                    <p id="quick-invitecode-tip" class="r_error_tip">邀请码输入有误</p>&nbsp;
                </div>
                <p class="col_fgray r_tip_text">使用朋友给您的邀请码注册后，均可获得300元</p>
            </li>
        </ul>
        <a class="r_input" id="mobileInfoPerfeactBtn" href="#">确定</a>
        <p class="tc mt_20">
            <span class="check_css3 agreeResBox">
                <input type="checkbox" class="input_check" id="check3">
                <label for="check3"></label>
            </span> 我同意  <a href="serviceservice.html.html" class="r-service-protocol" target="_blank">《服务协议》、</a><a href="privacyprivacy.html.html" class="r-service-protocol" target="_blank">《隐私保护声明》</a></p>
        </div>
    </div>
</div>
    <div class="w_698 login_register_box " style="display:none;" id="registerDialog">
    <div class="r_colsed" id="closeRegiserDialog"><span></span></div>
    <div class="clearfix">
        <div class="r_main_l">
            <ul class="r_tab1 clearfix">
                <li class="fl cur">注册小猪账号</li>
                            </ul>
            <ul class="register_list">
                <li>
                    <div class="h_30">&nbsp;</div>

                    <div class="pr" id="reg">
                        <div class=" r_telepho_ico"></div>
                        <input type="text" id="input-mobile" autocomplete="off" placeholder="手机号" class="r_input_small col_input" value="">
                </div></li>
                <li>
                    <div class="h_30">
                        <p class="r_error_tip" id="input-mobile-tip">请输入手机号</p>&nbsp;
                    </div>
                    <!--<div class="pr">-->
                        <!--<div class="r_pho_ico"></div>-->
                        <!--<input type="text" placeholder="图片验证码" id="reg-image-code" autocomplete="off" class="r_input_small">-->
                        <!--<span class="r_code"><img class="change-verify-image" id="img_imagecode" title="点击更换验证码" width="101" height="33" /></span>-->
                    <!--</div>-->
                </li>
                <li>
                    <!--<div class="h_30">-->
                        <!--<p class="r_error_tip" id="reg-image-code-tip">请输入图片验证码</p>&nbsp;-->
                    <!--</div>-->
                    <div class="pr">
                        <div class="r_num_ico"></div>
                        <input id="invitecode" type="text" autocomplete="off" placeholder="邀请码(选填)" class="r_input_1">
                    </div>
                    <div class="h_30" style="display:none;">
                        <p id="input-invitecode-tip" class="r_error_tip">邀请码输入有误</p>&nbsp;
                    </div>
                    <p class="col_fgray r_tip_text">使用朋友给您的邀请码注册后，你们均可获得300元</p>
                </li>
               <li>
                  <div id="safeCheck"></div>
                  <p id="input-slidecode-tip" class="r_error_tip input-slidecode-tip" style="margin-bottom: 10px">请进行验证</p>
               </li>
            </ul>
            
            <a href="#" id="reg-btn" class="r_input">立即注册</a>
            <p class="mt_20">
                <span class="check_css3 agreeResBox">
                    <input type="checkbox" class="input_check" id="check3">
                    <label for="check3"></label>
                </span>
                我同意  <a href="serviceservice.html.html" class="r-service-protocol" target="_blank">《服务协议》、</a><a href="privacyprivacy.html.html" class="r-service-protocol" target="_blank">《隐私保护声明》</a></p>
        </div>
        <div class="r_main_r">
            <h5>合作网站账户登录</h5>
<ul class="r_wedsitev1">
    <li>
    <a class="hz_qqv1" href="javascript:;"><i></i>QQ登录</a>
    </li>
    <li>
    <a class="hz_weibov1" href="javascript:;"><i></i>微博登录</a>
    </li>
    <li>
    <a class="hz_weixinv1" href="javascript:;"><i></i>微信登录</a>
    </li>
</ul>            <p class="">已有账号？<a href="javascript:;" id="loginDialogBtn" class="col_pink logindialog">登录&gt;&gt;</a></p>
        </div>
        <div class="r_main_r r_main_qrcode_box">
          <div class="inner-box">
            <img class="applet-qrcode" src="static/picture/loginCode.png" alt="">
            <span class="text-box">
              <span>微信扫码领950元</span>
              <span>无需下载APP</span>
            </span>
          </div>
        </div>
    </div>
</div>
<div class="w_400 login_register_box" id='mobileRegisterInfoDialog' style="display:none;"> 
    <div class="r_colsed" id="closeMobileRegisterInfoDialog"><span></span></div>
    <div class="r_top_tit">
        <h6>验证短信已发送至手机号码</h6>
        <p><span id="codeRecivePhone"></span><span class="col_pink"><a href="#" id="modifyRegisterBtn">(修改)</a></span></p>
    </div>
    <ul class="register_list">
        <li>
            <div class="h_30">&nbsp;</div>
            <div class="pr">
                <div class="r_pho_ico"></div>
                <input type="text" id="activate-code" placeholder="手机验证码" autocomplete="off" class="r_input_small">
                <a href="#ongo" id="get-code-btn" class="have-nb">重新发送</a>
            </div>
        </li>
        <li>
            <div class="h_30">
                <p id="activate-code-tip" class="r_error_tip">请输入手机验证码</p>&nbsp;
            </div>
            <div class="pr">
                <div class=" r_tel_ico"></div>
                <input id="reginput-username" type="text" placeholder="用户名" autocomplete="off" class="r_input_1">
            </div>
        </li>
        <li>
            <div class="h_30">
                <p class="r_error_tip" id="reginput-username-tip">请输入用户名</p>&nbsp;
            </div>
            <div class="pr">
                <div class="r_password_ico"></div>
                <input type="password" id="regpassword" placeholder="密码" autocomplete="off" class="r_input_1">
            </div>
            <div class="h_30">
                <p class="r_error_tip" id="regpassword-tip">请输入密码</p>&nbsp;
            </div>
        </li>
    </ul>
    <a href="#" id="regConfirmBtn" class="r_input mt_10">确认</a>
</div>
<div id="regSuccessDialog" class="reg_success_box login_register_box" style="display:none;">
    <div class="">
        <div class="r_colsed_1" id="closeRegSuccDialogBtn"><span></span></div>
        <div id="regSuccInfo">
        </div>
    </div>
</div></div>
                <div class="guide_main">
            <div class="guide_con">
                <ul class="guide_tabs">
                </ul>
                <div class="guide_sider">
                    <div name="left_guide" id="left_tenant_guide" style="display:block;">
                        <dl class="guide_dl">
                            <dt id="menu_tenant_1" onmouseover="mouseOver('tenant_1')" onmouseout="mouseOut('tenant_1')" onclick="togglePart('tenant_1')"><span class="dt_circle"></span>独特的房间和预订</dt>
                            <div style="display:none;" id="sub_menu_tenant_1">
                                <dd>&middot; 独一无二的房间</dd>
                                <dd>&middot; 输入日期搜索和拆单</dd>
                                <dd>&middot; 善用过滤条件和地图搜索</dd>
                                <dd>&middot; 在线沟通、下单、房东确认和付款</dd>
                            </div>
                        </dl>
                        <dl class="guide_dl">
                            <dt id="menu_tenant_2" onmouseover="mouseOver('tenant_2')" onmouseout="mouseOut('tenant_2')" onclick="togglePart('tenant_2')"><span class="dt_circle"></span>入住、评价和分享</dt>
                            <div style="display:none;" id="sub_menu_tenant_2">
                                <dd>&middot; 入住前联系房东</dd>
                                <dd>&middot; 与房东沟通</dd>
                                <dd>&middot; 按照房东的要求使用空间及设施</dd>
                                <dd>&middot; 入住完成后及时评价</dd>
                                <dd>&middot; 有机会您也可以试试当地主</dd>
                            </div>
                        </dl>
                        <dl class="guide_dl">
                            <dt id="menu_tenant_3" onmouseover="mouseOver('tenant_3')" onmouseout="mouseOut('tenant_3')" onclick="togglePart('tenant_3')"><span class="dt_circle"></span>安全完备的保障</dt>
                            <div style="display:none;" id="sub_menu_tenant_3">
                                <dd>&middot; “无忧入住”房客保障计划</dd>
                                <dd>&middot; 房客保险</dd>
                                <dd>&middot; 在线交易的重要性</dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <div class="guide_right">
                    <div name="right_guide" id="right_tenant_guide" style="display:block;">
                        <div class="guide_column" name="part_1" id="part_tenant_1" onmouseover="mouseOver('tenant_1')" onmouseout="mouseOut('tenant_1')">
                            <div class="overF_hidden" onclick="togglePart('tenant_1')">
                                <div class="guide_L">
                                    <strong>独特的房间和预订</strong> <a class="btn_close nomargin" href="#ongo" id="more_tenant_1">更多</a><br>
                                   小猪是一个基于分享经济的社交住宿平台。在小猪上，您将有机会住进一个陌生朋友的家中，价格不到酒店的一半，却像在自己家里一样舒适和方便，小猪会让您拥有一次不同寻常的旅行体验。 
                                </div>
                                <img class="fr" src="static/picture/guide_pic1.jpg" width="276" height="156">
                            </div>
                            <div id="part_more_tenant_1" style="display:none;">
                                <p class="guide_p">
                                <strong class="guide_p_T">独一无二的房间</strong>
                                与您使用过的其他住宿预订平台不一样的是，小猪上所有房间都是由房东自己发布和独立管理的，每个房间都是独一无二的。这些房间的价格通常比同地区快捷 酒店价格便宜一半以上，大部分房源入住后会和房东住在一起，可以做饭和洗衣服，设施和用品也更有“家”的感觉。
                                </p>
                                <p class="guide_p">
                                <strong class="guide_p_T">输入日期搜索和拆单</strong>
                               小猪上大部分房间都只有一套，按照出行日期搜索可以查看所有符合您要求的房间。如果您的出行计划有弹性，也可以试试调整出行日期搜索，有时候可能会有惊喜。当然，更早的出行计划而不是临时抱佛脚，会有更多好的房间供您挑选。<br>
                                如果您出行的时间比较长，比如一周或更长时间，您心仪的房间也许不能满足您的预订要求，尤其是出行旺季更是如此。拆开时间搜索和预订可能是个好主意，这样做的好处除了搬家可以锻炼身体外，还可以认识更多的朋友。
                                </p>
                                <p class="guide_p">
                                <strong class="guide_p_T">善用过滤条件和地图搜索</strong>
                                使用地图搜索可以帮您以更直观、精确的查看房源所在位置的方式进行搜索和比较。<br> 
                                如果您了解将要去的地方，可以在搜索框中点击或输入您所知道的交通枢纽、商圈或景点名称。通过各种过滤条件组合，可以让您更快寻找到合适的房间。  
                                </p>
                                <p class="guide_p">
                                <strong class="guide_p_T">在线沟通、下单、房东确认和付款</strong>
                                您在小猪上选好中意的房间并下单后，是需要等待房东确认后方可付款的。因此，与房东适当的在线沟通非常必要。有效的在线沟通可以帮助您进一步了解房子 的详细信息，如果您主动向房东介绍自己，同时告知对方您的行程目的和计划，房东也可以籍此更了解您，因而也更容易接受您的预订请求。 
                                </p>
                                <p class="textRt"><a class="btn_close" href="#ongo" onclick="hiddenMore('tenant_1')">收起</a></p>
                            </div>
                        </div>
                        <div class="guide_column" name="part_2" id="part_tenant_2" onmouseover="mouseOver('tenant_2')" onmouseout="mouseOut('tenant_2')">
                            <div class="overF_hidden" onclick="togglePart('tenant_2')">
                                <div class="guide_L">
                                    <strong>入住、点评和分享</strong> <a class="btn_close nomargin" href="#ongo" id="more_tenant_2">更多</a><br>
                                    背上行囊，踏上旅途，在另一个陌生的城市，会有一个从未谋面的朋友在等着您入住他的家中，这样的场景不禁让人充满期待。但在您将要住进别人家里，体验居住自由主义之前，我们还有些建议给您。
                                </div>
                                <img class="fr" src="static/picture/guide_pic2.jpg" width="276" height="156">
                            </div>
                            <div id="part_more_tenant_2" style="display:none;">
                                <p class="guide_p">
                                <strong class="guide_p_T">入住前联系房东</strong>
                                我们建议您在入住前一天或两天再次联系房东，告知您将要到达的准确时间，同时了解当地的天气，了解如何到达住处，也可以提醒房东做好接待准备。
                                </p>
                                <p class="guide_p">
                                <strong class="guide_p_T">与房东沟通</strong>
                                每一个朋友的相识都是缘分，如果有可能，希望您和房东一起聊聊天。您可以通过房东了解当地的风土人情，小吃美食，还有那些只有当地人才知道的关于那座城市的秘密。您和房东还可以互相分享各自的旅行经历或读书感悟，一起做几道拿手菜。总之，真诚、坦率的相互沟通，总是受人欢迎的。
                                </p>
                                <p class="guide_p">
                                <strong class="guide_p_T">按照房东的要求使用空间及设施</strong>
                                入住期间请尊重房东的隐私，合理的使用公共区域以及保持您入住空间的基本整洁，这些都是非常礼貌和必要的。同时还希望您能尊重房东的作息时间及生活习惯，尊重他们的邻居及所在社区的公共秩序，不在未经房东确认的情况下带朋友来住处，或在房间内吸烟、酗酒、聚会和饲养宠物等。
                                </p>
                                <p class="guide_p">
                                <strong class="guide_p_T">入住完成后及时评价</strong>
                                在您入住完成后，您可以对房东和房间进行评价并记录自己真实的入住感受，这些评价能帮助其他房客了解房间和房东。同时房东也可以对您进行评价，其他房东可以藉由这些评价来了解您。因此，希望您珍惜每次的入住机会，重视自己的交易记录，做一个受欢迎的房客。
                                </p>
                                <p class="guide_p">
                                <strong class="guide_p_T">有机会您也可以试试当地主</strong>
                               很多体验过小猪的房客后来都变成了房东，开始分享自己的住处，获得一份不错收益的同时也结交了来自五湖四海的朋友，这的确是一件开心的事情。如果您也有闲置的房间或房屋，甚至一个床位或沙发，我们希望您也一起加入小猪做房东，体验分享的乐趣。如果您想了解如何成为房东和如何发布自己的房源，请点击“<a href="xzweb-help_userguide_landlordxzweb-help_userguide_landlord.html.html" target="_blank">房东指南</a>”
                                </p>
                                <p class="textRt"><a class="btn_close" href="#ongo" onclick="hiddenMore('tenant_2')">收起</a></p>
                            </div>
                        </div>
                        <div class="guide_column" name="part_3" id="part_tenant_3" onmouseover="mouseOver('tenant_3')" onmouseout="mouseOut('tenant_3')">
                            <div class="overF_hidden" onclick="togglePart('tenant_3')">
                                <div class="guide_L">
                                    <strong>安全完备的保障</strong> <a class="btn_close nomargin" href="#ongo" id="more_tenant_3">更多</a><br>
                                    作为一个社交住宿担保交易平台，自小猪上线以来，已有数十万的房客完成入住，我们充分理解您对住进一个陌生人家中的担忧，并为此做了大量工作来保障您整个交易与入住过程的安全性。
                                </div>
                                <img class="fr" src="static/picture/guide_pic3.jpg" width="276" height="156">
                            </div>
                            <div id="part_more_tenant_3" style="display:none;">
                                <p class="guide_p">
                                <strong class="guide_p_T">“无忧入住”房客保障计划</strong>
                                当您在小猪上完成预订并付款成交后，作为担保交易平台，我们将对以下内容提供保障：<br>
                                <span class="dot_sty">&middot;</span>保障线下留房：如果房东违约，不能按照订单约定为您提供入住，或入住时无法联系到房东，我们将会提供保障，协调房东解决或帮您预订附近的其他住处，帮您找到满意的住所；<br>
                                <span class="dot_sty">&middot;</span>保障图片和描述与实际相符：在您入住后，如发现实际房间与页面上的图片或描述严重不符，或承诺的设施不可用，或收取未注明的额外费用，我们将会提供保障，直到您满意为止；
                               
                                </p>
                                <p class="guide_p">
                                <strong class="guide_p_T">房客保险</strong>
                                无论是国内出行还是到海外出行，小猪都为房客提供了保险服务。只要身份信息完整还可免费获赠保险，免除双方的后顾之忧。更多内容可以查看<a href="insurance_stayinsurance_stay.html.html" style="color:red;" target="_blank">《平安住宿旅行意外险告知书》</a>和<a style="color:red;" href="xzweb-help_zhonganfkoutsideinsurxzweb-help_zhonganfkoutsideinsur.html.html" target="_blank">《众安海外住宿意外保险告知书》</a>
                                </p>
                                <p class="guide_p">
                                <strong class="guide_p_T">在线交易的重要性</strong>
                                在小猪上下单预订并入住，是以上保障计划得以实施的前提。我们只能对您在小猪上完成的交易进行保障，未在小猪上完成的交易，我们是无法提供保障的，因此，希望您所有交易在线上完成。
                                </p>
                                <p class="textRt"><a class="btn_close" href="#ongo" onclick="hiddenMore('tenant_3')">收起</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                 
<div class="foot_v2">
        <ul class="foot_ul">
        <li><a class="guide" href="" target="_blank">房客指南</a></li>
        <li><a class="guide icon_fk" href="xzweb-help_userguide_landlordxzweb-help_userguide_landlord.html.html" target="_blank">房东指南</a></li>
        <li>
            <span class="guide_T">关于我们</span>
            <a href="aboutusaboutus.html.html" target="_blank">关于小猪</a>
            <a href="javascript:;" target="_blank">加入我们</a>
            <a href="contactuscontactus.html.html" target="_blank">联系我们</a>
        </li>
        <li>
            <span class="guide_T">网站帮助</span>
            <a href="indexindex5.html.html" target="_blank">帮助中心</a>
            <a href="sitemapsitemap.html.html" target="_blank">网站地图</a> 
        </li>
        <li class="width_280">
            <span class="guide_T">网站协议</span><br>
            <a href="serviceservice.html.html" target="_blank">服务协议</a> 
            <a href="landlordrulelandlordrule.html.html" target="_blank">房东规则</a>
            <a href="tenantruletenantrule.html.html" target="_blank">房客规则</a>
            <a href="auditruleauditrule.html.html" target="_blank">房源上线标准</a>
            <a href="privacyprivacy.html.html" target="_blank">隐私保护</a>
            <a href="copyrightcopyright.html.html" target="_blank">版权声明</a>
            <a href="disclaimerdisclaimer.html.html" target="_blank">免责声明</a>
            <a href="intellectualpropertyintellectualproperty.html.html" target="_blank">知识产权声明</a>
            <a href="commentrulecommentrule.html.html" target="_blank">点评发布规则</a>
            <a href="japanreservationrulejapanreservationrule.html.html" target="_blank">日本标准住宅宿泊仲介业约款</a>
        </li>
        <li class="bigFont online_kf">
            <span class="logindialog"><i></i>在线客服</span>
            <p>客服电话  400 - 010 - 7890</p>
            <p>客服邮箱  service@xiaozhu.com</p>
        </li>
            </ul>
        <dl class="link_dl">
        <dt>城市导航</dt>
        <dd>
            <a target="_blank" href="indexindex1.html.html">北京短租房</a>
            <a target="_blank" href="indexindex6.html.html">上海短租房</a>
            <a target="_blank" href="indexindex7.html.html">南京短租房</a>
            <a target="_blank" href="indexindex2.html.html">成都短租房</a>
            <a target="_blank" href="indexindex8.html.html">广州短租房</a>
            <a target="_blank" href="indexindex4.html.html">重庆短租房</a>
            <a target="_blank" href="indexindex9.html.html">武汉短租房</a>
            <a target="_blank" href="indexindex10.html.html">大连短租房</a>
            <a target="_blank" href="indexindex11.html.html">三亚短租房</a>
            <a target="_blank" href="indexindex12.html.html">丽江短租房</a>
            <a target="_blank" href="indexindex13.html.html">天津短租房</a>
            <a target="_blank" href="indexindex14.html.html">香港短租房</a>
            <a target="_blank" href="indexindex15.html.html">长沙短租房</a>
            <a target="_blank" href="indexindex16.html.html">无锡短租房</a>
            <a target="_blank" href="indexindex17.html.html">昆明短租房</a>
            <a target="_blank" href="indexindex18.html.html">济南短租房</a>
            <a target="_blank" href="indexindex19.html.html">厦门短租房</a>
            <a target="_blank" href="indexindex3.html.html">青岛短租房</a>
            <a target="_blank" href="indexindex20.html.html">郑州短租房</a>
            <a target="_blank" href="indexindex21.html.html">西安短租房</a>
            <a target="_blank" href="indexindex22.html.html">杭州短租房</a>
            <a target="_blank" href="indexindex23.html.html">深圳短租房</a>
            <a target="_blank" href="indexindex24.html.html">沈阳短租房</a> 
            <a target="_blank" href="indexindex25.html.html">苏州短租房</a>
        </dd>
    </dl>
    <dl class="link_dl">
         
    </dl>
                <div class="foot_btm">京ICP备12035936号-1 &nbsp;&nbsp;许可证号：京ICP证140510号 &nbsp;&nbsp; <a href="javascript:;" |="" name="mt8SMvYyRDI92b06nuDs8dPFapllCJYidqhM1WlOoGRZ9DWpbo" rel="nofollow" target="_blank">安全联盟</a> &nbsp;&nbsp; 北京快跑信息科技有限公司 &nbsp;&nbsp; <a href="files/yingyeyingye.jpg.jpg" |="" name="yingyezhizhao" rel="nofollow" target="_blank">营业执照号 103613118</a> <span style="display:none">  &nbsp;&nbsp; 地址：北京市海淀区知春路56号   &nbsp;&nbsp;电话：010-62961978</span>
    </div>
    <div style="margin:0 auto;color:#bdc3c7;">
        <a target="_blank" href="javascript:;" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="static/picture/govRecord_icon.png"><p style="display:inline-block;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#bdc3c7;">京公网安备 11010802020380号</p></a>
        &nbsp;&nbsp; 违法和不良信息举报电话：4000107890转6  &nbsp;&nbsp; 举报邮箱：jubao@xiaozhu.com
    </div>
</div>

<input type="hidden" name="actionName" id="actionName" value="help_userguide">
<input type="hidden" name="xz_srf_token" id="xz_srf_token" value="2982b726deea1617eb82514eb68e4f6d">

<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/xzjs-Footer_www.xiaozhu.com.js"></script>
<link rel="stylesheet" type="text/css" href="static/css/xzcss-jquery.mCustomScrollbarnyrxzcss-jquery.mCustomScrollbarnyr.css.css">
<script type="text/javascript" src="static/js/lazyload.js"></script>
<script type="text/javascript" src="static/js/xzim4-xiaozhu_xiaozhu.com.js" id="webimSource"></script>

        <script type="text/javascript" src="static/js/xzjs-help_userguide_www.xiaozhu..js"></script>
    </body>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager --></html>