<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.Housedescribe_xcMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.Housedescribe_xc" >
    <id column="housedescribeid" property="housedescribeid" jdbcType="INTEGER" />
    <result column="houseid" property="houseid" jdbcType="INTEGER" />
    <result column="housetitle" property="housetitle" jdbcType="VARCHAR" />
    <result column="styleshow" property="styleshow" jdbcType="VARCHAR" />
    <result column="adorn" property="adorn" jdbcType="VARCHAR" />
    <result column="traffic" property="traffic" jdbcType="VARCHAR" />
    <result column="rim" property="rim" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="addHouseDescribe" parameterType="com.jk.model.Housedescribe_xc" >
    insert into t_housedescribe (housetitle,houseid,
      styleshow, adorn, traffic, 
      rim)
    values (#{housetitle},#{houseid},
      #{styleshow}, #{adorn}, #{traffic},
      #{rim})
  </insert>
</mapper>